button.Button--YDF(
  v-if="isButtonTheTagNameOfRootElement"
  :type="typeAttributeValueOfButtonOrInputElement"
  :disabled="disabled"
  :aria-label="accessibilityGuidance"
  :aria-pressed="toggled ? 'true' : undefined"
  :class="rootElementModifierCSS_Classes"
  @click.prevent="() => {}"
)

  slot(name="prependedSVG_Icon")

  span.Button--YDF-Label(
    v-if="label"
  ) {{ label }}

  slot(name="appendedSVG_Icon")
  slot(name="loneSVG_Icon")


component.Button--YDF(
  v-else-if="isRouterLinkTheRootElement"
  :is="IS_NUXT ? 'NuxtLink' : 'RouterLink'"
  :to="route"
  :tabindex="disabled && -1"
  :aria-label="accessibilityGuidance"
  :aria-disabled="disabled"
  :aria-pressed="toggled ? 'true' : undefined"
  :class="rootElementModifierCSS_Classes"
)

  slot(name="prependedSVG_Icon")

  span.Button--YDF-Label(
    v-if="label"
  ) {{ label }}

  slot(name="appendedSVG_Icon")
  slot(name="loneSVG_Icon")


a.Button--YDF(
  v-else-if="isAnchorTheTagNameOfRootElement"
  :href="disabled ? undefined : externalURI"
  :target="mustOpenExternalLinkInCurrentTab ? '_self' : '_blank'"
  rel="noopener noreferrer"
  :tabindex="disabled && -1"
  :aria-label="accessibilityGuidance"
  :aria-disabled="disabled"
  :aria-pressed="toggled ? 'true' : undefined"
  :class="rootElementModifierCSS_Classes"
)

  slot(name="prependedSVG_Icon")

  span.Button--YDF-Label(
    v-if="label"
  ) {{ label }}

  slot(name="appendedSVG_Icon")
  slot(name="loneSVG_Icon")


input.Button--YDF(
  v-else-if="isInputTheTagNameOfRootElement"
  :type="typeAttributeValueOfButtonOrInputElement"
  :value="label"
  :disabled="disabled"
  :aria-pressed="toggled ? 'true' : undefined"
  :class="rootElementModifierCSS_Classes"
  @click.prevent="() => {}"
)
