mixin ${NAME}Demo(options)

  -

    options = options ?? {
      headings: true,
      partials: {
        defaultOptionals: true,
        longLabel: true,
        geometricModifiers: {
          pillShape: true,
          squareShape: true
        }
      }
    }

    ThemesShowcase__YDF.
        setDefaultThemeKeyLabelPrefix("${NAME}__YDF.Themes.").
        setDefaultGeometricVariationLabelPrefix("${NAME}__YDF.GeometricVariations.").
        setDefaultDecorativeVariationLabelPrefix("${NAME}__YDF.DecorativeVariations.");

    const themeShowcaseCurrentIterationData = ThemesShowcase__YDF.initializeCurrentIterationData()

    function skipDecorativeVariationIf(iterationData) {
      return (
        iterationData.decorativeVariation.value === ${NAME}__YDF.DecorativeVariations.linkLike &&
        iterationData.geometricVariation.value !== ${NAME}__YDF.GeometricVariations.linkLike
      ) ||
      (
        iterationData.decorativeVariation.value !== ${NAME}__YDF.DecorativeVariations.linkLike &&
        iterationData.geometricVariation.value === ${NAME}__YDF.GeometricVariations.linkLike
      );
    }


  if options.headings

    h1.Heading1 ${NAME} component testing


  //- ━━━ Default optionals ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  if options.partials.defaultOptionals

    if options.headings

      h2.Heading2 Default optionals

    +ThemesShowcase--YDF({
      themes: ${NAME}__YDF.Themes,
      geometricVariations: ${NAME}__YDF.GeometricVariations,
      decorativeVariations: ${NAME}__YDF.DecorativeVariations,
      iterationData: themeShowcaseCurrentIterationData
    })

      +${NAME}--YDF({
        label: "Teksto 本文",
        theme: themeShowcaseCurrentIterationData.theme.value,
        geometry: themeShowcaseCurrentIterationData.geometricVariation.value,
        decoration: themeShowcaseCurrentIterationData.decorativeVariation.value
      })

        dt Link
        dd
          +Button--YDF({
            label: "Teksto 本文",
            URI: "#",
            theme: themeShowcaseCurrentIterationData.theme.value,
            geometry: themeShowcaseCurrentIterationData.geometricVariation.value,
            decoration: themeShowcaseCurrentIterationData.decorativeVariation.value
          })

        dt Input
        dd
          +Button--YDF({
            label: "Teksto 本文",
            HTML_Type: Button__YDF.HTML_Types.inputButton,
            theme: themeShowcaseCurrentIterationData.theme.value,
            geometry: themeShowcaseCurrentIterationData.geometricVariation.value,
            decoration: themeShowcaseCurrentIterationData.decorativeVariation.value
          })
