.CompoundControlShell

  .CompoundControlShell-Header(
    v-if="label || displayAppropriateBadgeIfInputIsRequired || displayAppropriateBadgeIfInputIsOptional"
  )

    label.CompoundControlShell-Label(
      v-if="label"
      :for="coreElementHTML_ID"
      :id="labelElementHTML_ID"
    ) {{ label }}

    span.CompoundControlShell-Badge.CompoundControlShell-Badge__RequiredInput(
      v-if="required && displayAppropriateBadgeIfInputIsRequired"
    ) Required

    span.CompoundControlShell-Badge.CompoundControlShell-Badge__OptionalInput(
      v-else-if="!required && displayAppropriateBadgeIfInputIsOptional"
    ) Optional

  p.CompoundControlShell-Guidance(
    v-if="guidance"
    v-html="guidance"
  )

  .CompoundControlShell-MainSlotCustomizableWrapper(
    :class="mainSlotWrapperAdditionalCSS_Classes"
  ): slot

  .CompoundControlShell-ErrorsMessagesCollapsableContainer(
    v-if="mustActivateAppropriateHighlightIfAnyErrorsMessages && errorsMessages.length > 0"
  )
    p.CompoundControlShell-ErrorMessage(
      v-for="(errorMessage, index) of errorsMessages"
      :key="`ERROR_MESSAGE-${index}`"
    ) {{ errorMessage }}
