.CompoundControlShell--YDF(
  :class=""
)

  .CompoundControlShell--YDF-Header(
    v-if="label || mustDisplayAppropriateBadgeIfInputIsRequired || mustDisplayAppropriateBadgeIfInputIsOptional"
  )

    label.CompoundControlShell--YDF-Label(
      v-if="label"
      :for="coreElementHTML_ID"
      :id="labelElementHTML_ID"
    ) {{ label }}

    span.CompoundControlShell--YDF-Badge.CompoundControlShell--YDF-Badge__RequiredInput(
      v-if="required && mustDisplayAppropriateBadgeIfInputIsRequired"
    ) {{ localization.requirementBadges.required }}

    span.CompoundControlShell--YDF-Badge.CompoundControlShell--YDF-Badge__OptionalInput(
      v-else-if="!required && mustDisplayAppropriateBadgeIfInputIsOptional"
    ) {{ localization.requirementBadges.optional }}


  p.CompoundControlShell--YDF-Guidance(
    v-if="guidance"
    v-html="guidance"
  )


  .CompoundControlShell--YDF-MainSlotCustomizableWrapper(
    :class="mainSlotWrapperAdditionalCSS_Classes"
  ): slot


  ul.CompoundControlShell--YDF-ErrorsMessagesCollapsableContainer(
    v-if="invalidInputHighlightingIfAnyErrorsMessages && errorsMessages.length > 0"
  )

    li.CompoundControlShell--YDF-ErrorMessage(
      v-for="errorMessage of errorsMessages"
      :key="`ERROR_MESSAGE-${ errorMessage }`"
    ) {{ errorMessage }}
