.CompoundControlShell--YDF(
  :class="rootElementModifierCSS_Classes"
)

  .CompoundControlShell--YDF-Header(
    v-if="mustDisplayHeader"
  )

    label.CompoundControlShell--YDF-Label(
      v-if="label"
      :for="coreElementHTML_ID"
      :id="labelElementHTML_ID"
    ) {{ label }}

    span.CompoundControlShell--YDF-Badge.CompoundControlShell--YDF-Badge__RequiredInput(
      v-if="mustDisplayRequiredInputBadge"
    ) {{ localization.requirementBadges.required }}

    span.CompoundControlShell--YDF-Badge.CompoundControlShell--YDF-Badge__OptionalInput(
      v-else-if="mustDisplayOptionalInputBadge"
    ) {{ localization.requirementBadges.optional }}

    span.CompoundControlShell--YDF-Badge.CompoundControlShell--YDF-Badge__Invisible(
      v-else-if="mustAddInvisibleBadgeForHeightEqualizingWhenNoBadge"
    )


  p.CompoundControlShell--YDF-Guidance(
    v-if="guidance"
    v-html="guidance"
  )


  .CompoundControlShell--YDF-MainSlotCustomizableWrapper(
    :class="mainSlotWrapperAdditionalCSS_Classes"
  ): slot


  HorizontallySlidingContainer.CompoundControlShell--YDF-ValidationErrorsMessagesList(
    :expanded="invalidInputHighlightingIfAnyValidationErrorsMessages && validationErrorsMessagesCopyForAnimating.length > 0"
    HTML_Tag="ul"
    :mustAnimateHeightWhenContentsAreChanged="true"
    :animationDuration__seconds="VALIDATION_ERRORS_MESSAGES_ANIMATION_DURATION__SECONDS"
  )

    li.CompoundControlShell--YDF-ValidationErrorMessage(
      v-for="validationErrorMessage of validationErrorsMessagesCopyForAnimating"
      :key="`VALIDATION_ERROR_MESSAGE-${ validationErrorMessage }`"
    ) {{ validationErrorMessage }}
