include AdmonitionBlock.class.pug


mixin AdmonitionBlock--YDF(properties)

  -

    const {

      title,
      SVG_Icon,
      dismissible,

      theme,
      areThemesCSS_ClassesCommon,
      geometricVariation,
      decorativeVariation

    } = processObjectTypeParameterOfPugMixin({
      rawParameter: properties,
      parameterNumber: 1,
      parameterName: "properties",
      parameterPropertiesSpecification: AdmonitionBlock__YDF.propertiesSpecification,
      mixinName: AdmonitionBlock__YDF.CSS_NAMESPACE
    });

    const rootElementModifierCSS_Classes = [

      ...ComponentsAuxiliaries.addThemeCSS_ClassToArrayIfMust({
        theme,
        allThemes: AdmonitionBlock__YDF.Themes,
        CSS_Namespace: AdmonitionBlock__YDF.CSS_NAMESPACE,
        areThemesCSS_ClassesCommon
      }),

      ...ComponentsAuxiliaries.addGeometricVariationCSS_ClassToArrayIfMust({
        geometricVariation,
        allGeometricVariations: AdmonitionBlock__YDF.GeometricVariations,
        CSS_Namespace: AdmonitionBlock__YDF.CSS_NAMESPACE
      }),

      ...ComponentsAuxiliaries.addDecorativeVariationCSS_ClassToArrayIfMust({
        decorativeVariation: decorativeVariation,
        allDecorativeVariations: AdmonitionBlock__YDF.DecorativeVariations,
        CSS_Namespace: AdmonitionBlock__YDF.CSS_NAMESPACE
      })

    ];

    let INSTANCE_ID;
    let TITLE_HTML_ID;

    if (title) {
      INSTANCE_ID = AdmonitionBlock__YDF.generateInstanceID();
      TITLE_HTML_ID = `${ INSTANCE_ID }-TITLE`;
    }


  .AdmonitionBlock--YDF&attributes(attributes)(
    role="alert"
    class=rootElementModifierCSS_Classes
  )

    if SVG_Icon === true

      case decorativeVariation

        when AdmonitionBlock__YDF.DecorativeVariations.notice
          +Pencil__Circled__Filled--YDF_Icon.AdmonitionBlock--YDF-SVG_Icon

        when AdmonitionBlock__YDF.DecorativeVariations.error
          +ExclamationMark__Circled__Filled--YDF_Icon.AdmonitionBlock--YDF-SVG_Icon

        when AdmonitionBlock__YDF.DecorativeVariations.warning
          +ExclamationMark__Triangled__Filled--YDF_Icon.AdmonitionBlock--YDF-SVG_Icon

        when AdmonitionBlock__YDF.DecorativeVariations.success
          +Checkmark__Circled__Filled--YDF_Icon.AdmonitionBlock--YDF-SVG_Icon

        when AdmonitionBlock__YDF.DecorativeVariations.guidance
          +InfoSign__Circled__Filled--YDF_Icon.AdmonitionBlock--YDF-SVG_Icon

        when AdmonitionBlock__YDF.DecorativeVariations.question
          +QuestionMark__Circled__Filled--YDF_Icon.AdmonitionBlock--YDF-SVG_Icon

    else if isArbitraryObject(SVG_Icon)

      svg.AdmonitionBlock--YDF-SVG_Icon&attributes(SVG_Icon.SVG_ElementAttributes)
        use(xlink:href=`#${ SVG_Icon.innerElementID }`)


    if title

      .AdmonitionBlock--YDF-Title(
        id=TITLE_HTML_ID
      )= title

    .AdmonitionBlock--YDF-MainContent(
      aria-labelledby=(title ? TITLE_HTML_ID : null)
    )

      block


    if dismissible
      button.AdmonitionBlock--YDF-DismissingButton(
        type="button"
        aria-label= AdmonitionBlock__YDF.localization.dismissingButton.accessibilityGuidance
      ): +MultiplicationSign__Boxed__Filled--YDF_Icon.AdmonitionBlock--YDF-DismissingButton-Icon
