mixin ImprovedBlockquote--YDF(properties)

  -

    properties = properties || {}

    const {
      authorPhotoURI,
      authorPhotoAlternatingText,
      publicationPhotoURI,
      publicationPhotoAlternatingText
    } = properties


  blockquote.ImprovedBlockquote--YDF&attributes(attributes)

    .ImprovedBlockquote--YDF-Sidebar

      svg.ImprovedBlockquote--YDF-Icon(
        viewBox="0 0 24 24"
      ): path(d="M10,7L8,11H11V17H5V11L7,7H10M18,7L16,11H19V17H13V11L15,7H18Z")

      if authorPhotoURI
        .ImprovedBlockquote--YDF-Image(
          style=`background-image: url(${ authorPhotoURI });`
          role="img"
          aria-label= authorPhotoAlternatingText
        )

      if publicationPhotoURI
        .ImprovedBlockquote--YDF-Image(
          class=`${CSS_Namespace}-ImageHolder`
          style=`background-image: url(${publicationPhotoURL});`
          role="img"
          aria-label=publicationPhotoAlternatingText
        )

    .ImprovedBlockquote--YDF-MainSection

      block
