CompoundControlShell.DropDownList(
  :label="label"
  :guidance="guidance"
  :required="required"
  :displayAppropriateBadgeIfInputIsRequired="displayAppropriateBadgeIfInputIsRequired"
  :displayAppropriateBadgeIfInputIsOptional="displayAppropriateBadgeIfInputIsOptional"
  :mustActivateAppropriateHighlightIfAnyErrorsMessages="mustActivateAppropriateHighlightIfAnyErrorsMessages"
  :errorsMessages="validatablePayload.validationErrorsMessages"
  :class="rootElementModifiersCSS_Classes"
  :coreElementHTML_ID="OPTIONS_LIST_HTML_ID"
  :labelElementHTML_ID="LABEL_ELEMENT_HTML_ID"
)

  //- [ Design pattern ] https://www.w3.org/TR/wai-aria-practices/examples/combobox/combobox-select-only.html
  .DropDownList-PseudoButtonWithCurrentSelection(
    :tabindex="disabled ? -1 : 0"
    @click.stop="onClickPseudoButtonWithCurrentSelection"
    role="combobox"
    :aria-labelledby="ARIA_LabelledByAttributeValue"
    :aria-controls="OPTIONS_LIST_HTML_ID"
    :aria-expanded="isExpanded"
    aria-haspopup="listbox"
    :aria-disabled="disabled"
    :ref="PSEUDO_BUTTON_WITH_CURRENT_SELECTION_VUE_REFERENCE_ID"
  )

  span.DropDownList-PseudoButtonWithCurrentSelection-Label {{ currentSelectionLabel }}

  svg.DropDownList-PseudoButtonWithCurrentSelection-SVG_Icon(
    viewBox="0 0 24 24"
  )
    path(
      d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"
    )

  .DropDownList-OptionsList(
    role="listbox"
    :id="OPTIONS_LIST_HTML_ID"
    :aria-labelledby="ARIA_LabelledByAttributeValue"
    :tabindex="isExpanded ? 0 : -1"
  )
    .DropDownList-Option(
      v-for="(option, index) of selectOptions"
      role="option"
      :id="`${COMPONENT_BASIC_ID}-OPTION-${index}`"
    ) {{ option.label }}
