include RadioButton.class.pug


mixin RadioButton--YDF(properties)

  -

    const COMPONENT_ID = RadioButton__YDF.generateComponentID();

    const {

      label,
      HTML_Name,
      HTML_Value,
      inputElementHTML_ID = `${ COMPONENT_ID }-INPUT`,
      checked,
      disabled,
      readonly,

      theme,
      areThemesCSS_ClassesCommon,
      geometricVariation,
      geometricModifiers,
      decorativeVariation,
      decorativeModifiers

    } = processObjectTypeParameterOfPugMixin({
      rawParameter: properties,
      parameterNumber: 1,
      parameterName: "properties",
      parameterPropertiesSpecification: RadioButton__YDF.propertiesSpecification,
      mixinName: RadioButton__YDF.CSS_NAMESPACE
    });

    const rootElementModifierCSS_Classes = [

      ...checked ?
        [ `${ RadioButton__YDF.CSS_NAMESPACE }__CheckedState` ] :
        [ `${ RadioButton__YDF.CSS_NAMESPACE }__UncheckedState` ],

      ...disabled ? [ `${ RadioButton__YDF.CSS_NAMESPACE }__DisabledState` ] : [],
      ...readonly ? [ `${ RadioButton__YDF.CSS_NAMESPACE }__ReadOnlyState` ] : [],

      ...ComponentsAuxiliaries.addThemeCSS_ClassToArrayIfMust({
        theme,
        allThemes: RadioButton__YDF.Themes,
        CSS_Namespace: RadioButton__YDF.CSS_NAMESPACE,
        areThemesCSS_ClassesCommon
      }),

      ...ComponentsAuxiliaries.addGeometricVariationCSS_ClassToArrayIfMust({
        geometricVariation,
        allGeometricVariations: RadioButton__YDF.GeometricVariations,
        CSS_Namespace: RadioButton__YDF.CSS_NAMESPACE
      }),

      ...ComponentsAuxiliaries.
          generateDemandedGeometricModifiersCSS_Classes(RadioButton__YDF.CSS_NAMESPACE, geometricModifiers),

      ...ComponentsAuxiliaries.addDecorativeVariationCSS_ClassToArrayIfMust({
        decorativeVariation,
        allDecorativeVariations: RadioButton__YDF.DecorativeVariations,
        CSS_Namespace: RadioButton__YDF.CSS_NAMESPACE
      }),

      ...ComponentsAuxiliaries.
          generateDemandedDecorativeModifiersCSS_Classes(RadioButton__YDF.CSS_NAMESPACE, decorativeModifiers)

    ];


  .RadioButton--YDF&attributes(attributes)(
    class=rootElementModifierCSS_Classes
  )

    span.RadioButton--YDF-Ring

    if label

      label.RadioButton--YDF-Label(
        for=inputElementHTML_ID
      )=label

    input.RadioButton--YDF-HiddenInputElement(
      type="radio"
      name=HTML_Name
      value=HTML_Value
      checked=checked
      disabled=disabled
      readonly=readonly
      id=inputElementHTML_ID
    )
