button.Button--YDF(
  v-if="isButtonTheTagNameOfRootElement"
  :type="typeAttributeValueOfInputOrButtonElement"
  :disabled="disabled"
  @click.prevent="() => {}"
  :class="rootElementModifierCSS_Classes"
)
  slot(name="prependedSVG_Icon")
  span.Button-Label(v-if="label") {{ label }}
  slot(name="appendedSVG_Icon")
  slot(name="loneSVG_Icon")

input.Button--YDF(
  v-else-if="isInputTheTagNameOfRootElement"
  :type="typeAttributeValueOfInputOrButtonElement"
  :value="label"
  :disabled="disabled"
  @click.prevent="() => {}"
  :class="rootElementModifierCSS_Classes"
)

component.Button--YDF(
  v-else-if="isRouterLinkTheRootElement"
  :is="IS_NUXT ? 'NuxtLink' : 'RouterLink'"
  :to="route"
  :aria-disabled="disabled"
  :tabindex="disabled && -1"
  :class="rootElementModifierCSS_Classes"
)
  slot(name="prependedSVG_Icon")
  span.Button-Label(v-if="label") {{ label }}
  slot(name="appendedSVG_Icon")
  slot(name="loneSVG_Icon")

a.Button--YDF(
  v-else-if="isAnchorTheTagNameOfRootElement"
  :href="externalLinkURI"
  :target="mustOpenExternalLinkInCurrentTab ? '_self' : '_blank'"
  rel="noopener noreferrer"
  :aria-disabled="disabled"
  :tabindex="disabled && -1"
  :class="rootElementModifierCSS_Classes"
)
  slot(name="prependedSVG_Icon")
  span.Button-Label(v-if="label") {{ label }}
  slot(name="appendedSVG_Icon")
  slot(name="loneSVG_Icon")
