extends ../../../../../../node_modules/@yamato-daiwa/programming_documentation/Layouts/TwoColumns/TwoColumnsLayout.pug


block append Requirements

  include ../../../../../SharedAssets/Markup/SharedAssets.russian.pug
  include ../../../../../SharedComponents/SharedComponents.russian.pug


block append Metadata

  -

    HTML_PAGE_LANGUAGE = "ru";
    HTML_PAGE_TITLE = buildHTML_PageTitle("Конфигурация");
    HTML_PageMetaData = {
      description: "",
      author: HTML_PAGE_AUTHOR
    };

    FAVICON_URI = "@MustBeInPublicRoot/favicon";

    styleSheetsURIs = [
      "$CommonStyles",
      "$LayoutsStyles/TwoColumns/TwoColumnsLayout.css",
      "$PreMadesStyles",
      "@CustomizedExternalComponents"
    ];

    scriptsURIs.endOfBody = [ "$CommonLogic" ];

    RoutingEmulator.setCurrentRoute("coreLibrary.styles.kernel.configuration");

    LanguageDropDownList__YDF_DK.setLinks({
      english: "./Configuration.english.html",
      japanese: "./Configuration.japanese.html"
    });


block append SpecificContent

  - const sectioning = localizedRouting.coreLibrary.$children.styles.$children.kernel.$children.YDF_Configuration.$sectioning;

  article

    h1.Article-Heading1 Конфигурация

    //- ━━━ `fontsStacks` ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
    h2.Article-Heading2(
      id= sectioning.fontsStacks.$anchor
    )= sectioning.fontsStacks.$heading

    //- ─── `mainSansSerif` ────────────────────────────────────────────────────────────────────────────────────────────
    h3.Article-Heading3(
      id= sectioning.fontsStacks.$sectioning.mainSansSerif.$anchor
    )= sectioning.fontsStacks.$sectioning.mainSansSerif.$heading

    //- ─── `mainSerif` ────────────────────────────────────────────────────────────────────────────────────────────────
    h3.Article-Heading3(
      id= sectioning.fontsStacks.$sectioning.mainSerif.$anchor
    )= sectioning.fontsStacks.$sectioning.mainSerif.$heading

    //- ─── `mainMonospaced` ───────────────────────────────────────────────────────────────────────────────────────────
    h3.Article-Heading3(
      id= sectioning.fontsStacks.$sectioning.mainMonospaced.$anchor
    )= sectioning.fontsStacks.$sectioning.mainMonospaced.$heading


    //- ━━━ `textGeometry` ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
    h2.Article-Heading2(
      id= sectioning.textGeometry.$anchor
    )= sectioning.textGeometry.$heading

    //- ─── `mainSansSerif` ────────────────────────────────────────────────────────────────────────────────────────────
    h3.Article-Heading3(
      id= sectioning.textGeometry.$sectioning.basicFontSize.$anchor
    )= sectioning.textGeometry.$sectioning.basicFontSize.$heading

    //- ─── `mainSerif` ────────────────────────────────────────────────────────────────────────────────────────────────
    h3.Article-Heading3(
      id= sectioning.textGeometry.$sectioning.basicLineHeight.$anchor
    )= sectioning.textGeometry.$sectioning.basicLineHeight.$heading

    //- ─── `mainMonospaced` ───────────────────────────────────────────────────────────────────────────────────────────
    h3.Article-Heading3(
      id= sectioning.textGeometry.$sectioning.basicLineHeightInMultilineTextBlocks.$anchor
    )= sectioning.textGeometry.$sectioning.basicLineHeightInMultilineTextBlocks.$heading


    //- ━━━ `zIndexes` ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
    h2.Article-Heading2(
      id= sectioning.zIndexes.$anchor
    )= sectioning.zIndexes.$heading
