-

  const MetaDescriptionTemplates = {

    pugFunction: ({ functionName, whatFunctionDoes }) =>
        `「Yamato Daiwa Frontend（YDF）」ライブラリの、「Pug」プリプロセッサ専用の「${ functionName }」関数は、${ whatFunctionDoes }`,

    stylusFunction: ({ functionName, whatFunctionDoes }) =>
        `「Yamato Daiwa Frontend（YDF）」ライブラリの「Stylus」プリプロセッサ専用「${ functionName }」関数は、${ whatFunctionDoes }`,

    realiseNotes: ({ version }) =>
        `フロント・ウェブ開発専用「Yamato Daiwa Frontend（YDF）」と言うライブラリのバージョン「${ version }」の変更(新規機能、既存機能の更新や以前の` +
          "機能の削除)の一覧。",

    GUI_Components: {

      AdmonitionBlock:
          "「AdmonitionBlock」と言う`「Yamato Daiwa Frontend（YDF）」ライブラリ枠に囲まれた本文そして場合に依って他の追加中身様なコンポーネントである。" +
          "グラフィック・ユーザー・インターフェースに於いてユーザーを通知する手段の中一つであり、ボタンでユーザーに反応する提供も可能。" +
          "タイポグラフィに於いて、様々な重要度の本文部分を強調する為の手段に成っている。",

      Badge: "",

      buttons: {

        plain: ""

      }

    }

  };
