button.Button(
  v-if="isRootElementTagNameTheButton"
  :type="inputOrButtonElementTypeAttributeValue"
  :class="rootElementModifierCSS_Classes"
  :disabled="disabled"
  @click.prevent="() => {}"
): slot

input.Button(
  v-else-if="isRootElementTagNameTheInput"
  :type="inputOrButtonElementTypeAttributeValue"
  :value="label"
  :class="rootElementModifierCSS_Classes"
  :disabled="disabled"
  @click.prevent="() => {}"
)

RouterLink.Button(
  v-else-if="isRootElementTheRouterLink"
  :to="route"
  :class="rootElementModifierCSS_Classes"
  :aria-disabled="disabled"
  :tabindex="disabled && -1"
): slot

a.Button(
  v-else-if="isRootElementTagNameTheAnchor"
  :href="externalLinkURI"
  target="_blank"
  rel="noopener noreferrer"
  :class="rootElementModifierCSS_Classes"
  :aria-disabled="disabled"
  :tabindex="disabled && -1"
): slot
