extends ../../../../../../../node_modules/@yamato-daiwa/programming_documentation/Layouts/TwoColumns/TwoColumnsLayout.pug


block append Requirements

  include ../../../../../../SharedAssets/Markup/SharedAssets.english.pug
  include ../../../../../../SharedComponents/SharedComponents.english.pug


block append Metadata

  -

    HTML_PAGE_LANGUAGE = "en";
    HTML_PAGE_TITLE = buildHTML_PageTitle("ValueCheckers");
    HTML_PageMetaData = {
      description: "",
      author: HTML_PAGE_AUTHOR
    };

    FAVICON_URI = "@MustBeInPublicRoot/favicon";

    styleSheetsURIs = [
      "$CommonStyles",
      "$LayoutsStyles/TwoColumns/TwoColumnsLayout.css",
      "$PreMadesStyles",
      "@CustomizedExternalComponents"
    ];

    scriptsURIs.endOfBody = [ "$CommonLogic" ];

    RoutingEmulator.setCurrentRoute("coreLibrary.styles.kernel.functions.typeCheckers");

    LanguageDropDownList__YDF_DK.setLinks({
      japanese: "./TypeCheckers.japanese.html",
      russian: "./TypeCheckers.russian.html"
    });


block append SpecificContent

  article

    -
      const sectioning = localizedRouting.coreLibrary.$children.
          styles.$children.
          kernel.$children.
          functions.$children.
          typeCheckers.$sectioning;

    h1.Article-Heading1 Value checkers

    //- ━━━ Strings ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
    h2.Article-Heading2(
      id= sectioning.strings.$anchor
    )= sectioning.strings.$heading

    //- ─── isEmptyString ──────────────────────────────────────────────────────────────────────────────────────────────
    h3.Article-Heading3(
      id= sectioning.strings.$sectioning.isEmptyString.$anchor
    )= sectioning.strings.$sectioning.isEmptyString.$heading

    //- ─── isNonEmptyString ───────────────────────────────────────────────────────────────────────────────────────────
    h3.Article-Heading3(
      id= sectioning.strings.$sectioning.isNonEmptyString.$anchor
    )= sectioning.strings.$sectioning.isNonEmptyString.$heading

    //- ─── isString ───────────────────────────────────────────────────────────────────────────────────────────────────
    h3.Article-Heading3(
      id= sectioning.strings.$sectioning.isString.$anchor
    )= sectioning.strings.$sectioning.isString.$heading


    //- ━━━ Quantities ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
    h2.Article-Heading2(
      id= sectioning.quantities.$anchor
    )= sectioning.quantities.$heading

    //- ─── isDimensionalOrDimensionlessQuantity ───────────────────────────────────────────────────────────────────────
    h3.Article-Heading3(
      id= sectioning.quantities.$sectioning.isDimensionalOrDimensionlessQuantity.$anchor
    )= sectioning.quantities.$sectioning.isDimensionalOrDimensionlessQuantity.$heading

    //- ─── isDimensionalQuantity ──────────────────────────────────────────────────────────────────────────────────────
    h3.Article-Heading3(
      id= sectioning.quantities.$sectioning.isDimensionalQuantity.$anchor
    )= sectioning.quantities.$sectioning.isDimensionalQuantity.$heading

    //- ─── isDimensionlessQuantity ────────────────────────────────────────────────────────────────────────────────────
    h3.Article-Heading3(
      id= sectioning.quantities.$sectioning.isDimensionlessQuantity.$anchor
    )= sectioning.quantities.$sectioning.isDimensionlessQuantity.$heading

    //- ─── isNaturalNumber ────────────────────────────────────────────────────────────────────────────────────────────
    h3.Article-Heading3(
      id= sectioning.quantities.$sectioning.isNaturalNumber.$anchor
    )= sectioning.quantities.$sectioning.isNaturalNumber.$heading


    //- ━━━ Booleans ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
    h2.Article-Heading2(
      id= sectioning.booleans.$anchor
    )= sectioning.booleans.$heading

    //- ─── isBoolean ──────────────────────────────────────────────────────────────────────────────────────────────────
    h3.Article-Heading3(
      id= sectioning.strings.$sectioning.isBoolean.$anchor
    )= sectioning.strings.$sectioning.isBoolean.$heading

    //- ─── isFalse ────────────────────────────────────────────────────────────────────────────────────────────────────
    h3.Article-Heading3(
      id= sectioning.strings.$sectioning.isFalse.$anchor
    )= sectioning.strings.$sectioning.isFalse.$heading

    //- ─── isTrue ─────────────────────────────────────────────────────────────────────────────────────────────────────
    h3.Article-Heading3(
      id= sectioning.strings.$sectioning.isTrue.$anchor
    )= sectioning.strings.$sectioning.isTrue.$heading


    //- ━━━ Nullables ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
    h2.Article-Heading2(
      id= sectioning.nullables.$anchor
    )= sectioning.nullables.$heading

    //- ─── isNull ─────────────────────────────────────────────────────────────────────────────────────────────────────
    h3.Article-Heading3(
      id= sectioning.nullables.$sectioning.isNull.$anchor
    )= sectioning.nullables.$sectioning.isNull.$heading

    //- ─── isFalse ────────────────────────────────────────────────────────────────────────────────────────────────────
    h3.Article-Heading3(
      id= sectioning.nullables.$sectioning.isFalse.$anchor
    )= sectioning.nullables.$sectioning.isFalse.$heading


    //- ━━━ Others ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
    h2.Article-Heading2(
      id= sectioning.others.$anchor
    )= sectioning.others.$heading

    //- ─── isCalcExpression ───────────────────────────────────────────────────────────────────────────────────────────
    h3.Article-Heading3(
      id= sectioning.others.$sectioning.isCalcExpression.$anchor
    )= sectioning.others.$sectioning.isCalcExpression.$heading

    //- ─── isFunction ─────────────────────────────────────────────────────────────────────────────────────────────────
    h3.Article-Heading3(
      id= sectioning.others.$sectioning.isFunction.$anchor
    )= sectioning.others.$sectioning.isFunction.$heading

    //- ─── isIdentifier ───────────────────────────────────────────────────────────────────────────────────────────────
    h3.Article-Heading3(
      id= sectioning.others.$sectioning.isIdentifier.$anchor
    )= sectioning.others.$sectioning.isIdentifier.$heading

    //- ─── isObject ───────────────────────────────────────────────────────────────────────────────────────────────────
    h3.Article-Heading3(
      id= sectioning.others.$sectioning.isObject.$anchor
    )= sectioning.others.$sectioning.isObject.$heading
