include GUI_ComponentSummaryViewerLocalization.english.pug


-

  class GUI_ComponentSummaryViewer {

    static localization = GUI_ComponentSummaryViewerComponentLocalization__english;

    static SupportedFrameworks = {
      vue: "VUE",
      react: "REACT",
      blazor: "BLAZOR"
    }

  }


mixin GUI_ComponentSummaryViewer(properties)

  -

    const {
      framework,
      metadataClass: MetadataClass
    } = properties

    const componentClassName = MetadataClass.name.replace("__YDF", "");

  dl.Article-DescriptionList

    //- ━━━ Pug Mixin or Component Class ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
    if framework
      dt= GUI_ComponentSummaryViewer.localization.componentClassName
      dd: +ImportantEntity__Code--YDID= componentClassName

    else
      dt= GUI_ComponentSummaryViewer.localization.pugMixin
      dd: +ImportantEntity__Code--YDID= MetadataClass.name.replace("__", "--")

    dt
      +Link--YDF({ unendorsedExternalURI: sharedExternalLinks.jetBrains.liveTemplates }).Article-Link Live template
      |
      | Pug-примеси (
      +Link--YDF({ unendorsedExternalURI: sharedExternalLinks.jetBrains.YDF_Plugin }).Article-Link
        | официальный плагин для семейства сред разработки IntelliJ IDEA
      |)
    dd #[+ImportantEntity__Code--YDID #{ properties.intelliJ_IDEA_FamilyIDEsLiveTemplateAbbreviation }]

    dt= GUI_ComponentSummaryViewer.localization.stylusMixin
    dd: +ImportantEntity__Code--YDID= properties.stylusMixinName

    dt= GUI_ComponentSummaryViewer.localization.preMadeThemes
    dd
      dl
        each themeValue, themeKey in properties.metadataClass.Themes
          dt: +ImportantEntity__Code--YDID
            | #{ framework ? componentClassName : properties.metadataClass.name }.Themes.#{ themeKey }`
          dd= properties.themesNamesTranslations[themeValue]

    dt= GUI_ComponentSummaryViewer.localization.preMadeGeometricVariations
    dd
      dl
        each geometricVariationValue, geometricVariationKey in properties.metadataClass.GeometricVariations
          dt: +ImportantEntity__Code--YDID
            | #{ framework ? componentClassName : properties.metadataClass.name }.GeometricVariations.#{ geometricVariationKey }
          dd= properties.geometricVariationsTranslations[geometricVariationValue]

    if properties.metadataClass.GeometricModifiers
      dt= GUI_ComponentSummaryViewer.localization.geometricModifiers
      dd
        dl
          each geometricModifierValue, geometricModifierKey in properties.metadataClass.GeometricModifiers
            dt: +ImportantEntity__Code--YDID
              | #{ framework ? componentClassName : properties.metadataClass.name }.GeometricModifiers.#{ geometricModifierKey }
            dd= properties.geometricModifiersNamesTranslations[geometricModifierValue]

    dt= GUI_ComponentSummaryViewer.localization.preMadeDecorativeVariations
    dd
      dl
        each decorativeVariationValue, decorativeVariationKey in properties.metadataClass.DecorativeVariations
          dt: +ImportantEntity__Code--YDID
            | #{ framework ? componentClassName : properties.metadataClass.name }.DecorativeVariations.#{ decorativeVariationKey }
          dd= properties.decorativeVariationsTranslations[decorativeVariationValue]

    if properties.metadataClass.DecorativeModifiers
      dt= GUI_ComponentSummaryViewer.localization.decorativeModifiers
      dd
        dl
          each decorativeModifierValue, decoratingModifierKey in properties.metadataClass.DecorativeModifiers
            dt: +ImportantEntity__Code--YDID
              | #{ properties.metadataClass.name }.DecorativeModifiers.#{ decoratingModifierKey }
            dd= properties.decorativeModifiersNamesTranslations[decorativeModifierValue]

    dt= GUI_ComponentSummaryViewer.localization.loadingPlaceholder.title
    dd
      if properties.loadingPlaceholderPugMixinName
        +ImportantEntity__Code--YDID= properties.loadingPlaceholderPugMixinName
      else
        | #{ GUI_ComponentSummaryViewer.localization.loadingPlaceholder.unavailable }
