include Button.class.pug


mixin Button--YDF(properties)

  -

    properties = properties || {}
    const {
      HTML_Type = Button__YDF.HTML_Types.regular,
      label,
      ARIA_Label,
      URI,
      disabled = false,
      theme = Button__YDF.Themes.regular,
      geometry = Button__YDF.GeometricVariations.regular,
      decoration = Button__YDF.DecorativeVariations.regular,
      hasPrependedSVG_Icon,
      hasAppendedSVG_Icon,
      hasLoneSVG_Icon
    } = properties;

    let isButtonTheTagNameOfRootElement = false;
    let isInputTheTagNameOfRootElement = false;
    let isAnchorTheTagNameOfRootElement = false;
    let typeAttributeValueOfInputOrButtonElement;

    if (URI) {

      tagName = "a";
      isAnchorTheTagNameOfRootElement = true;

    } else {

      switch (HTML_Type) {

        case Button__YDF.HTML_Types.inputButton: {

          tagName = "input";
          isInputTheTagNameOfRootElement = true;
          typeAttributeValueOfInputOrButtonElement = "button";

          break;
        }

        case Button__YDF.HTML_Types.inputSubmit: {

          tagName = "input";
          isInputTheTagNameOfRootElement = true;
          typeAttributeValueOfInputOrButtonElement = "submit";

          break;
        }

        case Button__YDF.HTML_Types.inputReset: {

          tagName = "input";
          isInputTheTagNameOfRootElement = true;
          typeAttributeValueOfInputOrButtonElement = "reset";

          break;

        }

        case Button__YDF.HTML_Types.regular: {

          tagName = "button";
          isButtonTheTagNameOfRootElement = true;
          typeAttributeValueOfInputOrButtonElement = "button"

          break;
        }

        case Button__YDF.HTML_Types.submit: {

          tagName = "button";
          isButtonTheTagNameOfRootElement = true;
          typeAttributeValueOfInputOrButtonElement = "submit"

          break;
        }
      }
    }

    const commonCSS_Classes = [
      "Button--YDF",
      ...Object.entries(Button__YDF.Themes).length > 1 ? [ Button__YDF.ThemesCSS_ModifiersNames[theme] ] : [],
      ...Object.entries(Button__YDF.GeometricVariations).length > 1 ?
          [ Button__YDF.GeometricVariationsCSS_ModifiersNames[geometry] ] : [],
      ...Object.entries(Button__YDF.DecorativeVariations).length > 1 ?
          [ Button__YDF.DecorativeVariationsCSS_Modifiers[decoration] ] : [],
      ...hasPrependedSVG_Icon ? [ "Button--YDF__HasPrependedSVG_Icon" ] : [],
      ...hasAppendedSVG_Icon ? [ "Button--YDF__HasAppendedSVG_Icon" ] : [],
      ...hasLoneSVG_Icon ? [ `Button--YDF__HasLoneSVG_Icon` ] : []
    ];


  if isButtonTheTagNameOfRootElement

    button&attributes(attributes)(
      class= commonCSS_Classes
      type= typeAttributeValueOfInputOrButtonElement
      disabled= disabled
      aria-label= ARIA_Label
    )

      if block

        block

      else if label

        span.Button--YDF-Label= label

  else if isAnchorTheTagNameOfRootElement

    a&attributes(attributes)(
      class= [ ...commonCSS_Classes, disabled ? [ "Button--YDF__DisabledState" ] : [] ]
      href= disabled ? undefined : URI
      aria-disabled= disabled ? "true" : undefined
      aria-label= ARIA_Label
      tabindex = disabled && -1
    )

      if block

        block

      else if label

        span.Button--YDF-Label= label

  else if isInputTheTagNameOfRootElement

    input&attributes(attributes)(
      class= commonCSS_Classes
      type= typeAttributeValueOfInputOrButtonElement
      value= label
      disabled= disabled
    )
