include Button.class.pug


mixin Button--YDF(properties)

  -

    const {

      HTML_Type,

      label,
      accessibilityGuidance,
      URI,

      disabled,
      toggled,

      theme,
      areThemesCSS_ClassesCommon,
      geometricVariation,
      geometricModifiers,
      decorativeVariation,
      decorativeModifiers

    } = processObjectTypeParameterOfPugMixin({
      rawParameter: properties,
      parameterNumber: 1,
      parameterName: "properties",
      parameterPropertiesSpecification: Button__YDF.propertiesSpecification,
      mixinName: Button__YDF.CSS_NAMESPACE
    });

    let isButtonTheTagNameOfRootElement = false;
    let isInputTheTagNameOfRootElement = false;
    let isAnchorTheTagNameOfRootElement = false;

    let typeAttributeValueOfButtonOrInputElement;


    if (URI) {

      isAnchorTheTagNameOfRootElement = true;

    } else {

      switch (HTML_Type) {

        case Button__YDF.HTML_Types.regular: {

          isButtonTheTagNameOfRootElement = true;
          typeAttributeValueOfButtonOrInputElement = "button"

          break;
        }

        case Button__YDF.HTML_Types.submit: {

          isButtonTheTagNameOfRootElement = true;
          typeAttributeValueOfButtonOrInputElement = "submit"

          break;
        }

        case Button__YDF.HTML_Types.inputButton: {

          isInputTheTagNameOfRootElement = true;
          typeAttributeValueOfButtonOrInputElement = "button";

          break;

        }

        case Button__YDF.HTML_Types.inputSubmit: {

          isInputTheTagNameOfRootElement = true;
          typeAttributeValueOfButtonOrInputElement = "submit";

          break;

        }

        case Button__YDF.HTML_Types.inputReset: {

          isInputTheTagNameOfRootElement = true;
          typeAttributeValueOfButtonOrInputElement = "reset";

        }

      }

    }

    const commonCSS_Classes = [

      Button__YDF.CSS_NAMESPACE,

      ...isAnchorTheTagNameOfRootElement && disabled ? [ `${ Button__YDF.CSS_NAMESPACE }__DisabledState` ] : [],

      ...ComponentsAuxiliaries.addThemeCSS_ClassToArrayIfMust({
        theme,
        allThemes: Button__YDF.Themes,
        CSS_Namespace: Button__YDF.CSS_NAMESPACE,
        areThemesCSS_ClassesCommon
      }),

      ...ComponentsAuxiliaries.addGeometricVariationCSS_ClassToArrayIfMust({
        geometricVariation,
        allGeometricVariations: Button__YDF.GeometricVariations,
        CSS_Namespace: Button__YDF.CSS_NAMESPACE
      }),

      ...ComponentsAuxiliaries.generateDemandedGeometricModifiersCSS_Classes(Button__YDF.CSS_NAMESPACE, geometricModifiers),

      ...ComponentsAuxiliaries.addDecorativeVariationCSS_ClassToArrayIfMust({
        decorativeVariation,
        allDecorativeVariations: Button__YDF.DecorativeVariations,
        CSS_Namespace: Button__YDF.CSS_NAMESPACE
      }),

      ...ComponentsAuxiliaries.generateDemandedDecorativeModifiersCSS_Classes(Button__YDF.CSS_NAMESPACE, decorativeModifiers)

    ];


  if isButtonTheTagNameOfRootElement

    button&attributes(attributes)(
      type= typeAttributeValueOfButtonOrInputElement
      disabled= disabled
      aria-label= accessibilityGuidance
      aria-pressed=(toggled && "true")
      class= commonCSS_Classes
    )

      if block

        block

      else if label

        span.Button--YDF-Label= label

  else if isAnchorTheTagNameOfRootElement

    a&attributes(attributes)(
      href= disabled ? undefined : URI
      tabindex = disabled && -1
      aria-label= accessibilityGuidance
      aria-disabled= disabled ? "true" : undefined
      aria-pressed=(toggled && "true")
      class= [ ...commonCSS_Classes, disabled ? [ `${ Button__YDF.CSS_NAMESPACE }__DisabledState` ] : [] ]
    )

      if block

        block

      else if label

        span.Button--YDF-Label= label

  else if isInputTheTagNameOfRootElement

    input&attributes(attributes)(
      type= typeAttributeValueOfButtonOrInputElement
      value= label
      disabled= disabled
      aria-pressed=(toggled && "true")
      class= commonCSS_Classes
    )


mixin Button--YDF-LoadingPlaceholder(properties)

  -

    const {
      theme,
      areThemesCSS_ClassesCommon,
      geometricVariation,
      geometricModifiers
    } = processObjectTypeParameterOfPugMixin({
      rawParameter: properties,
      parameterNumber: 1,
      parameterName: "properties",
      parameterPropertiesSpecification: {
        theme: Button__YDF.propertiesSpecification.theme,
        areThemesCSS_ClassesCommon: Button__YDF.propertiesSpecification.areThemesCSS_ClassesCommon,
        geometricVariation: Button__YDF.propertiesSpecification.geometricVariation,
        geometricModifiers: Button__YDF.propertiesSpecification.geometricModifiers
      },
      mixinName: `${ Button__YDF.CSS_NAMESPACE }-LoadingPlaceholder`
    });

    const rootElementModifierCSS_Classes = [

      ...ComponentsAuxiliaries.addThemeCSS_ClassToArrayIfMust({
        theme,
        allThemes: Button__YDF.Themes,
        CSS_Namespace: Button__YDF.CSS_NAMESPACE,
        areThemesCSS_ClassesCommon
      }),

      ...ComponentsAuxiliaries.addGeometricVariationCSS_ClassToArrayIfMust({
        geometricVariation,
        allGeometricVariations: Button__YDF.GeometricVariations,
        CSS_Namespace: Button__YDF.CSS_NAMESPACE
      }),

      ...ComponentsAuxiliaries.generateDemandedGeometricModifiersCSS_Classes(Button__YDF.CSS_NAMESPACE, geometricModifiers)

    ];


  span.Button--YDF.Button--YDF__LoadingPlaceholder(
    class= rootElementModifierCSS_Classes
  )&attributes(attributes)
