include ParameterMetadata.class.pug


mixin ParameterMetadata--YDF_DK(parameterSpecification)

  .ParameterMetadata--YDF_DK

    .ParameterMetadata--YDF_DK-Header

      .ParameterMetadata--YDF_DK-ParameterNumberTitle
        | #{ ParameterMetadata__YDF_DK.localization.buildParametersNumberLabel({ parameterNumber: parameterSpecification.number }) }

      if parameterSpecification.required === true

        +Badge--YDF({
          value: ParameterMetadata__YDF_DK.localization.requirementLabels.required,
          decoration: Badge__YDF.DecorativeVariations.veryCatchyPastel
        }).ParameterMetadata--YDF_DK-RequirementBadge

      else if parameterSpecification.required === false

        +Badge--YDF({
          value: ParameterMetadata__YDF_DK.localization.requirementLabels.optional,
          decoration: Badge__YDF.DecorativeVariations.calmingPastel
        }).ParameterMetadata--YDF_DK-RequirementBadge

      else if typeof argumentSpecification.defaultValue !== "undefined"

        +Badge--YDF({
          value: ParameterMetadata__YDF_DK.localization.requirementLabels.hasDefaultValue,
          decoration: Badge__YDF.DecorativeVariations.neutralPastel
        }).ParameterMetadata--YDF_DK-RequirementBadge

    dl.ParameterMetadata--YDF_DK-MetadataTable

      dt.ParameterMetadata--YDF_DK-MetadataTable-Key= ParameterMetadata__YDF_DK.localization.tableKeys.genericTechnicalName
      dd.ParameterMetadata--YDF_DK-MetadataTable-Value= parameterSpecification.genericTechnicalName

      if parameterSpecification.localizedName
        dt.ParameterMetadata--YDF_DK-MetadataTable-Key= ParameterMetadata__YDF_DK.localization.tableKeys.localizedName
        dd.ParameterMetadata--YDF_DK-MetadataTable-Value= parameterSpecification.localizedName

      dt.ParameterMetadata--YDF_DK-MetadataTable-Key= ParameterMetadata__YDF_DK.localization.tableKeys.type
      dd.ParameterMetadata--YDF_DK-MetadataTable-Value.ParameterMetadata--YDF_DK-MetadataTable-Value__Type
        | #{ parameterSpecification.type }
