//- TODO Correct the relative path & remove this comment
extends ../../../../node_modules/@yamato-daiwa/frontend/PagesTemplates/RegularWebPage.pug


block append Requirements

  //- TODO Correct the relative paths & remove this comment
  include ../../../../node_modules/@yamato-daiwa/frontend/Components.pug
  include ../../../../Components/${COMPONENT_NAME}/${COMPONENT_NAME}.pug


block append Metadata

  -
  
    HTML_PAGE_TITLE = "${COMPONENT_NAME} component demo";
    
    //- TODO Correct the aliased paths & remove this comment
    styleSheetsURIs = [ "@Demos/Components/${COMPONENT_NAME}/${COMPONENT_NAME}" ]
    scriptsURIs.endOfBody = [ "@Demos/Components/${COMPONENT_NAME}/${COMPONENT_NAME}" ]


block append PageContent

  .ComponentTestingPageContent

    +${COMPONENT_NAME}Demo
