mixin Link--YDF(properties)

  -

    const {
      endorsedExternalURI,
      unendorsedExternalURI,
      internalURI,
      anchor,
      accessibilityGuidance,
      disabled
    } = properties;


    let hrefAttributeValue;

    if (endorsedExternalURI) {
      hrefAttributeValue = endorsedExternalURI;
    } else if (unendorsedExternalURI) {
      hrefAttributeValue = unendorsedExternalURI;
    } else if (internalURI) {
      hrefAttributeValue = internalURI;
    } else if (anchor) {
      hrefAttributeValue = `#${ anchor }`;
    }

    let targetAttributeValue;
    let relAttributeValue;
    const relations = [];

    if (endorsedExternalURI || unendorsedExternalURI) {
      targetAttributeValue = "_blank"
      relations.push("noopener", "noreferrer");
    }

    if (unendorsedExternalURI) {
      relations.push("nofollow");
    }

    if (relations.length > 0) {
      relAttributeValue = relations.join(" ");
    }


  a.Link--YDF&attributes(attributes)(
    href=hrefAttributeValue
    target=targetAttributeValue
    rel=relAttributeValue
    aria-label=accessibilityGuidance
    aria-disabled=(disabled ? "true" : undefined)
  )
    block
