-

  generatePageTableOfContents = localizedStrings => {

    const PAGE_URI = localizedRouting.coreLibrary.$children.
        markup.$children.
        functionality.$children.
        inlineJavaScript.$children.
        functionsAndClasses.$children.
        processObjectTypeParameterOfPugMixin.$URI;

    const pageTableOfContents = {

      problems: {
        $heading: localizedStrings.problems.$heading,
        $anchor: "PROBLEMS--SECTION",
        get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
      },

      YDF_Solution: {
        $heading: localizedStrings.YDF_Solution.$heading,
        $anchor: "YDF_SOLUTION--SECTION",
        get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
      },

      singleParameterProperties: {

        $heading: localizedStrings.singleParameterProperties.$heading,
        $anchor: "SINGLE_PARAMETER_PROPERTIES--SECTION",
        get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; },

        $children: {

          rawParameter: {
            $heading: localizedStrings.singleParameterProperties.rawParameter.$heading,
            $anchor: "SINGLE_PARAMETER_PROPERTIES-RAW_PARAMETER--SECTION",
            get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
          },

          parameterPropertiesSpecification: {
            $heading: localizedStrings.singleParameterProperties.parameterPropertiesSpecification.$heading,
            $anchor: "SINGLE_PARAMETER_PROPERTIES-PARAMETER_PROPERTIES_SPECIFICATION--SECTION",
            get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
          },

          loggingProperties: {
            $heading: localizedStrings.singleParameterProperties.loggingProperties.$heading,
            $anchor: "SINGLE_PARAMETER_PROPERTIES-LOGGING_PROPERTIES--SECTION",
            get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
          }

        }

      },

      IntelliJ_IDEA_IDEs_LiveTemplateUsageGuidance: {

        $heading: localizedStrings.IntelliJ_IDEA_IDEs_LiveTemplateUsageGuidance.$heading,
        $anchor: "INTELLIJ_IDEA_IDES_LIVE_TEMPLATE_USAGE_GUIDANCE--SECTION",
        get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; },

        $children: {
          steps: {
            $heading: localizedStrings.IntelliJ_IDEA_IDEs_LiveTemplateUsageGuidance.steps.$heading,
            $anchor: "INTELLIJ_IDEA_IDES_LIVE_TEMPLATE_USAGE_GUIDANCE-STEPS--SECTION",
            get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
          }
        }

      },

      externalLinks: {
        $heading: localizedStrings.externalLinks.$heading,
        $anchor: "EXTERNAL_LINKS--SECTION",
        get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
      }

    };

    return pageTableOfContents;

  }
