extends ../../../../../../node_modules/@yamato-daiwa/programming_documentation/Layouts/TwoColumns/TwoColumnsLayout.pug


block append Requirements

  include ../../../../../SharedAssets/Markup/SharedAssets.russian.pug
  include ../../../../../SharedComponents/SharedComponents.russian.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.configure({
      metadata: {
        title: buildHTML_PageTitle("RegularWebPageTemplate"),
        description:
            "Pug-шаблон «RegularWebPageTemplate», предлагаемый библиотекой «Yamato Daiwa Frontend» (сокращённо: «YDF») " +
              "позволяет за счёт одного только наследования ключевым словом «extends» сгенерировать валидный " +
              "HTML-документ, при этом может быть гибко настроен."
      },
      stylesSheetsURIs: [
        "$CommonStyles",
        "$LayoutsStyles/TwoColumns/TwoColumnsLayout.css",
        "$PreMadesStyles",
        "@CustomizedExternalComponents"
      ]
    });

    RoutingEmulator.setCurrentRoute("localizedRouting.coreLibrary.markup.pagesTemplates.RegularWebPage");

    LanguageDropDownList__YDF_DK.setLinks({
      english: "./RegularWebPageTemplate.english.html",
      japanese: "./RegularWebPageTemplate.japanese.html"
    });

    const pageTableOfContents = localizedRouting.coreLibrary.$children.
        markup.$children.
        pagesTemplates.$children.
        RegularWebPage.$sectioning;


block append HeadScripts

  if __IS_PRODUCTION_BUILDING_MODE__

    +GoogleAnalyticsScript


block append SpecificContent

  article

    h1.Article-Heading1 RegularWebPageTemplate

    p.Article-Paragraph.
      Основной #[+Term--YDID Pug-шаблон] для создания #[+Keyword--YDID валидных] #[+Term--YDID HTML5-страниц],
        #[+Keyphrase--YDID рекомендованный для большинстве случаев].

    ul.Article-UnorderedList

      li
        | Предполагается, что данный #[+Term--YDID шаблон] будет
        |
        +Link--YDF({
          unendorsedExternalURI: sharedExternalLinks.pug.homePage.templateInheritance
        }).Article-Link унаследован
        |
        | с помощью #[+Term--YDID ключевого слова] #[+ImportantEntity--YDID extends].

      li
        | Включает в себя файл #[+ImportantEntity--YDID Functionality.pug] с дополнительной
        |
        +Link--YDF({
          unendorsedExternalURI: sharedExternalLinks.pug.homePage.inlineJavaScript
        }).Article-Link JavaScript-функциональностью для Pug
        |
        | (в том числе
        |
        +Link--YDF({
          internalURI: localizedRouting.coreLibrary.$children.
              markup.$children.
              functionality.$children.
              inlineJavaScript.$children.
              YDEE_Integration.$URI
        }).Article-Link интеграцию с @yamato-daiwa/es-extensions
        | ), потому #[+Keyword--YDID повторное]
        |
        +Link--YDF({ unendorsedExternalURI: sharedExternalLinks.pug.homePage.includes }).Article-Link включение
        |
        | этого файла #[+Keyphrase--YDID приведёт к ошибке].


    p.Article-Paragraph.
      Если только #[+Term--YDID унаследовать] #[+Term__Contrast--YDID Pug-файл] от этого #[+Term--YDID шаблона],
        #[+Keyphrase--YDID но при этом не&nbsp;добавлять никакого кода], то на выходе #[+Keyword--YDID уже] будет
        валидный #[+Term--YDID HTML-код]:

    +CodeViewer--YDF
      +CodeViewer-Listing--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.HTML }): :code_listing--yda
        <!DOCTYPE html>

          <html lang="en">

          <head>
            <title>Untitled</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          </head>

          <body></body>

        </html>

    p.Article-Paragraph
      | Поскольку #[+Term--YDID аттрибут] #[+ImportantEntity__Code--YDID lang] у #[+Term--YDID тэга]
      |   #[+ImportantEntity__Code--YDID html] и #[+Term--YDID тэг] #[+ImportantEntity__Code--YDID title] являются
      |   #[+Keyword--YDID обязательными], то они были сгенерированы и со значениями по умолчанию.
      | Вероятно всего, Вам потребуется их изменить, особенно если у Вас русскоязычная страница.
      | Всё это и многое другое можно сделать с помощью #[+Term--YDID JavaScript-класса] конфигурации
      |   #[+ImportantEntity__Code--YDID RegularWebPageTemplate__YDF], к которому можно обратиться из
      |
      +Link--YDF({
        unendorsedExternalURI: sharedExternalLinks.pug.homePage.inlineJavaScript
      }).Article-Link JavaScript-блоков препроцессора Pug
      | .


    //- ━━━ Класс конфигурации `RegularWebPageTemplate__YDF`  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
    h2.Article-Heading2 Класс конфигурации #[code RegularWebPageTemplate__YDF]

    p.Article-Paragraph.
      Позволяет настроить генерацию типового #[+Term--YDID HTML-кода].
      Данный #[+Term--YDID класс] доступен начиная с конца
        #[+Link--YDF({ unendorsedExternalURI: sharedExternalLinks.pug.homePage.block }).Article-Link Pug-блока]
        #[+ImportantEntity__Code--YDID Functionality], но #[+Keyword--YDID рекомендуется] обращаться
        к этому #[+Term--YDID классу] в #[+Term--YDID блоке] #[+ImportantEntity__Code--YDID Metadata], поскольку
        #[+Keyword--YDID большинство] настроек либо связаны в #[+Term--YDID meta-тэгами], либо по своей сути являются
        #[+Term--YDID метаданными]:

    +CodeViewer--YDF
      +CodeViewer-Listing--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.Pug }): :code_listing--yda
        block append Metadata

          -

            RegularWebPageTemplate__YDF.configure({
              metadata: {
                locale: "ru",
                title: "Спикок товаров — интернет-магазин «Изобилие»"
              }
            });

    p.Article-Paragraph.
      Указание настроек осуществляется посредством вызова #[+Keyword--YDID статического] #[+Term--YDID метода]
        #[+ImportantEntity__Code--YDID configure], #[+Keyword--YDID единственный] #[+Term--YDID параметр] которого —
        #[+Keyword--YDID многоуровневый] #[+Term--YDID объект] конфигурации:

    dl.Article-DescriptionList

      dt metadata.locale
      dd.
        Используется для заполнения #[+Term--YDID аттрибута] #[+ImportantEntity__Code--YDID lang] у #[+Term--YDID тэга]
          #[+ImportantEntity__Code--YDID html].
        Поскольку данный #[+Term--YDID аттрибут] является #[+Keyword--YDID обязательным]
          #[+Keyphrase--YDID для #[+Term--YDID тэга] #[+ImportantEntity__Code--YDID html]], то имеется значение по
          умолчанию — #[+ImportantEntity__Code--YDID en], которое #[+Keyword--YDID необходимо] заменить на другое
          #[+Keyphrase--YDID для неанглоязычных страниц].
        Примечательно, но значение #[+Term--YDID аттрибута] #[+ImportantEntity__Code--YDID lang] официально называется
          #[+Term--YDID «language tag»], что запутывает, потому данное свойство и было названо
          #[+ImportantEntity__Code--YDID locale].

      dt metadata.title
      dd.
        Используется для заполнения #[+Term--YDID тэга] #[+ImportantEntity__Code--YDID title].
        Поскольку данный #[+Term--YDID тэг] #[+Term--YDID обязателен], то имеется значение по умолчанию —
          #[+ImportantEntity--YDID "Untitled"].

      dt metadata.description
      dd.
        Если определено, то будет добавлен #[+Term--YDID тэг] #[+ImportantEntity__Code--YDID meta] c
          #[+Term--YDID аттрибутами] #[+ImportantEntity__Code--YDID name="description"] и
          #[+ImportantEntity__Code--YDID content], #[+Keyword--YDID последний] из которых который будет заполнен
          указанным значением.

      dt metadata.keywords
      dd.
        Если определено, то будет добавлен #[+Term--YDID тэг] #[+ImportantEntity__Code--YDID meta] c
          #[+Term--YDID аттрибутами] #[+ImportantEntity__Code--YDID name="keywords"] и
          #[+ImportantEntity__Code--YDID content], #[+Keyword--YDID последний] из которых который будет заполнен
          указанным значением.

      dt metadata.author
      dd.
        Если указано, то будет добавлен #[+Term--YDID тэг] #[+ImportantEntity__Code--YDID meta] c
          #[+Term--YDID аттрибутами] #[+ImportantEntity__Code--YDID name="author"] и
          #[+ImportantEntity__Code--YDID content], #[+Keyword--YDID последний] из которых который будет заполнен
          указанным значением.

      dt faviconURI
      dd.
        Если определено, то будут добавлены #[+ImportantEntity--YDID 2] #[+Term--YDID тэга]
          #[+ImportantEntity__Code--YDID link], один из которых имеет #[+Term--YDID аттрибут]
          #[+Keyword__Contrast--YDID rel="icon"], другой — #[+ImportantEntity__Code--YDID rel="shortcut icon"],
          а указанным значением у #[+Keyword--YDID обоих] будет заполнен #[+Term--YDID аттрибут]
          #[+ImportantEntity__Code--YDID href].
        Это значение #[+Keyword--YDID должно] быть #[+Keyword--YDID валидным] #[+ImportantEntity--YDID URI], ссылающимся
          на файл иконки для отображения на вкладке браузера.

      dt AMP_VersionURI
      dd.
        Если указано, то будет добавлен #[+Term--YDID тэг] #[+ImportantEntity__Code--YDID link] c
          #[+Term--YDID аттрибутами] #[+ImportantEntity__Code--YDID rel="amphtml"] и
          #[+ImportantEntity__Code--YDID href], #[+Keyword--YDID последний] из которых который будет заполнен
          указанным значением.
        Это значение #[+Keyword--YDID должно] быть #[+Keyword--YDID валидным] #[+ImportantEntity--YDID URI], ссылающимся
          на #[+Term--YDID AMP-версию] страницы.

      dt stylesSheetsURIs
      dd.
        Если указан #[+Term--YDID массив], то #[+Keyphrase--YDID для каждого] его #[+Term--YDID элемента] будет добавлен
          #[+Term--YDID тэг] #[+ImportantEntity__Code--YDID link] с #[+Term--YDID аттрибутами]
          #[+ImportantEntity__Code--YDID rel="stylesheet"] и #[+ImportantEntity__Code--YDID href],
          #[+Keyword--YDID последний] из которых который будет заполнен #[+Term--YDID элементом массива].
        #[+Keyword--YDID Каждый] из этих #[+Term--YDID элементов] #[+Keyword--YDID должен] иметь
          #[+Keyword--YDID строчный] #[+Term--YDID тип] и являться #[+Keyword--YDID валидным] #[+Term--YDID URI],
          ссылающимся на #[+Term--YDID CSS-файл].

      dt scripts.atEndOfHead
      dd

        p.Article-Paragraph.
          Если указан #[+Term--YDID массив], #[+Keyphrase--YDID для каждого] его #[+Term--YDID элемента] в конец
            #[+Term--YDID тэга] #[+ImportantEntity__Code--YDID head] будет добавлен #[+Term--YDID тэг]
            #[+ImportantEntity__Code--YDID script] с #[+Term--YDID аттрибутом] #[+ImportantEntity__Code--YDID src],
            значение которого будет заполнено #[+Term--YDID элементом массива].
          #[+Keyword--YDID Каждый] из этих #[+Term--YDID элементов] #[+Keyword--YDID должен] иметь
            #[+Keyword--YDID строчный] #[+Term--YDID тип] и являться #[+Keyword--YDID валидным] #[+Term--YDID URI],
            ссылающимся на #[+Term--YDID JS-файл].

        ul.Article-UnorderedList

          li.
            Добавлять скрипты в конец тэга #[+Keyword__Contrast--YDID head]
              #[+Keyword--YDID не]&nbsp;#[+Keyword--YDID рекомендуется] (за исключением некоторых случаев, таких как
              сторонние скрипты для аналитики), поскольку без дополнительных мер отрисовка страницы будет приостановлена
              до тех пор, пока скрипты не будут загружены.

          li.
            Добавленные таким образом #[+Term--YDID тэги] #[+ImportantEntity__Code--YDID script]
              #[+Keyword--YDID не]&nbsp;будут иметь #[+Keyword--YDID никаких] #[+Term--YDID аттрибутов], кроме
              #[+ImportantEntity__Code--YDID src].
            Если Вам нужно, чтобы были какие-либо другие аттрибуты, то добавьте скрипт вручную в с использованием
              #[+Link--YDF({ unendorsedExternalURI: sharedExternalLinks.pug.homePage.block }).Article-Link Pug-блока]
              #[+ImportantEntity__Code--YDID HeadScripts].

      dt scripts.atEndOfBody
      dd

        p.Article-Paragraph.
          Если указан #[+Term--YDID массив], #[+Keyphrase--YDID для каждого] его #[+Term--YDID элемента] в
            #[+Keyword--YDID конец] #[+Term--YDID тэга] #[+ImportantEntity__Code--YDID body] будет добавлен
            #[+Term--YDID тэг] #[+ImportantEntity__Code--YDID script] с #[+Term--YDID аттрибутом]
            #[+ImportantEntity__Code--YDID src], значение которого будет заполнено #[+Term--YDID элементом массива].
          #[+Keyword--YDID Каждый] из этих #[+Term--YDID элементов] #[+Keyword--YDID должен] иметь
            #[+Keyword--YDID строчный] #[+Term--YDID тип] и являться #[+Keyword--YDID валидным] #[+Term--YDID URI],
            ссылающимся на #[+Term--YDID JS-файл].

        ul.Article-UnorderedList

          li.
            Именно таким образом рекомендуется добавлять скрипты, поскольку их загрузка #[+Keyword--YDID не]&nbsp;будет
              задерживать отрисовку страницы.

          li.
            Добавленные таким образом #[+Term--YDID тэги] #[+ImportantEntity__Code--YDID script]
              #[+Keyword--YDID не]&nbsp;будут иметь #[+Keyword--YDID никаких] #[+Term--YDID аттрибутов], кроме
              #[+ImportantEntity__Code--YDID src].
            Если Вам нужно, чтобы были какие-либо другие #[+Term--YDID аттрибуты], то добавьте скрипт вручную в с
              использованием
              #[+Link--YDF({ unendorsedExternalURI: sharedExternalLinks.pug.homePage.block }).Article-Link Pug-блока]
              #[+ImportantEntity__Code--YDID HeadScripts].

    p.Article-Paragraph.
      Метод #[+ImportantEntity__Code--YDID configure] #[+Keyword--YDID можно] вызывать
        #[+Keyword__Contrast--YDID многократно], но ввиду того, что новые настройки будут
        #[+Keyword--YDID перезаписывать] старые, делать это имеет смысл с #[+Keyword--YDID разными]
        #[+Term--YDID свойствами].
      Например, если у Вас на всём сайте или приложении один язык (например русский), а автор страницы один и тот же,
        то имеет смысл прописать эти настройки один раз в отельном файле (скажем,
        #[+SecondaryEntity--YDID CommonMetadata.pug]):

    +CodeViewer--YDF
      +CodeViewer-Listing--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.Pug }): :code_listing--yda
          -

            RegularWebPageTemplate__YDF.configure({
              metadata: {
                locale: "ru",
                author: "ОАО «Рога и копыта»"
              }
            });

    p.Article-Paragraph.
      Затем этот файл можно подключать в файлы страниц и далее уже указывать #[+Keyword--YDID только] особые
        метаданные для конкретной страницы:

    +CodeViewer--YDF
      +CodeViewer-Listing--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.Pug }): :code_listing--yda
        block append Metadata

          include CommonMetadata.pug

          -

            RegularWebPageTemplate__YDF.configure({
              metadata: {
                title: "Услуги"
                // "locale" и "author" уже указаны ранее в «CommonMetadata.pug»
              }
            });


    h2.Article-Heading2 Pug-блоки

    p.Article-Paragraph.
      Модификация шаблонов в #[+ImportantEntity--YDID Pug] осуществляется через
        #[+Link--YDF({ unendorsedExternalURI: sharedExternalLinks.pug.homePage.block }).Article-Link Pug-блоки].
      В шаблоне #[+ImportantEntity--YDID RegularWebPageTemplate] объявлены нижеследующие #[+Term--YDID Pug-блоки].

    h3.Article-Heading3 #[code Functionality]

    p.Article-Paragraph
      | Используйте этот #[+Term--YDID блок], если хотите написать какую-либо функциональность на
      |
      +Link--YDF({
        unendorsedExternalURI: sharedExternalLinks.pug.homePage.inlineJavaScript
      }).Article-Link встроенном JavaScript
      | .

    +CodeViewer--YDF
      +CodeViewer-Listing--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.Pug }): :code_listing--yda
        extends ../../node_modules/@yamato-daiwa/frontend/PagesTemplates/RegularWebPage.pug


        block append Functionality

          -

            function sum(...summands) {
              return summands.reduce((interimSum, summand) => interimSum + summand, 0)
            }

    p.Article-Paragraph
      | Поскольку в этот #[+Term--YDID блок] подключена функциональность
      |
      +Link--YDF({
        internalURI: localizedRouting.coreLibrary.$children.
            markup.$children.
            functionality.$children.
            inlineJavaScript.$children.
            YDEE_Integration.$URI
      }).Article-Link библиотеки «Yamato Daiwa ECMAScript Extensions»
      |
      | то #[+Keyphrase--YDID начиная с этого блока] Вы можете ей пользоваться, если при ссылке на #[+Term--YDID блок]
      |   использовали #[+Term--YDID ключевое слово] #[+ImportantEntity__Code--YDID append]:

    +CodeViewer--YDF
      +CodeViewer-Listing--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.Pug }): :code_listing--yda
        extends ../../node_modules/@yamato-daiwa/frontend/PagesTemplates/RegularWebPage.pug


        block append Functionality

          -

            function formatPrice(amount) {
              return `${ separateEach3DigitsGroupWithComma(amount) }₽`;
            }

    +AdmonitionBlock--YDF({
      SVG_Icon: true,
      geometricVariation: AdmonitionBlock__YDF.GeometricVariations.stickyNoteLike,
      decorativeVariation: AdmonitionBlock__YDF.DecorativeVariations.warning
    }).
      Не добавляете в этот блок никакой #[+Term--YDID разметки], так как #[+Term--YDID HTML-код] сгенерируется
        #[+Keyword--YDID вне] #[+Term--YDID тэга] #[+Term--YDID html].


    h3.Article-Heading3 #[code Data]

    p.Article-Paragraph.
      Используйте этот #[+Term--YDID блок], если хотите сгенерировать какие-либо данные, чтобы потом использовать
        их при генерации #[+Term--YDID разметки].

    +CodeViewer--YDF
      +CodeViewer-Listing--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.Pug }): :code_listing--yda
        extends ../../node_modules/@yamato-daiwa/frontend/PagesTemplates/RegularWebPage.pug


        block append Data

          -

            const items = Array.from(new Array(16).keys()).map(
              index => ({
                ID: index,
                title: `Item ${ index + 1 }`
              })
            );

    +AdmonitionBlock--YDF({
      SVG_Icon: true,
      geometricVariation: AdmonitionBlock__YDF.GeometricVariations.stickyNoteLike,
      decorativeVariation: AdmonitionBlock__YDF.DecorativeVariations.warning
    }).
      Не добавляете в этот блок никакой #[+Term--YDID разметки], так как #[+Term--YDID HTML-код] сгенерируется
        #[+Keyword--YDID вне] #[+Term--YDID тэга] #[+Term--YDID html].


    h3.Article-Heading3 #[code Requirements]

    p.Article-Paragraph
      | Используйте этот #[+Term--YDID блок] для подключения #[+Term--YDID Pug-файлов], содержащих
      |   #[+Term--YDID Pug-примеси] либо
      +Link--YDF({
        unendorsedExternalURI: sharedExternalLinks.pug.homePage.inlineJavaScript
      }).Article-Link внутренний JavaScript-код
      |   , для которого по какой-либо причине не&nbsp;подходят предыдущие #[+Term--YDID блоки].

    +CodeViewer--YDF
      +CodeViewer-Listing--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.Pug }): :code_listing--yda
        extends ../../node_modules/@yamato-daiwa/frontend/PagesTemplates/RegularWebPage.pug


        block append Requirements

          mixin ProductCard(product)
            .ProductCard
              h1= product.title
              p= product.description

    +AdmonitionBlock--YDF({
      SVG_Icon: true,
      geometricVariation: AdmonitionBlock__YDF.GeometricVariations.stickyNoteLike,
      decorativeVariation: AdmonitionBlock__YDF.DecorativeVariations.warning
    }).
      Не добавляете в этот блок никакой #[+Term--YDID разметки] #[+Keyphrase--YDID вне #[+Term--YDID Pug-примесей]],
        так как #[+Term--YDID HTML-код] сгенерируется #[+Keyword--YDID вне] #[+Term--YDID тэга] #[+Term--YDID html].


    h3.Article-Heading3 #[code Metadata]

    p.Article-Paragraph.
      Используйте этот блок, если хотите определить #[+Term--YDID метаданные] #[+Term__Contrast--YDID HTML-страницы]
        через #[+Term--YDID JavaScript-переменные].
      В частности, рекомендуется вызывать #[+ImportantEntity__Code--YDID RegularWebPageTemplate__YDF.configure({})]
        именно здесь.

    +CodeViewer--YDF
      +CodeViewer-Listing--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.Pug }): :code_listing--yda
        extends ../../node_modules/@yamato-daiwa/frontend/PagesTemplates/RegularWebPage.pug

        block append Metadata

          -

            RegularWebPageTemplate__YDF.configure({
              metadata: {
                locale: "ru",
                author: "ОАО «Рога и копыта»"
              }
            });


    h3.Article-Heading3 #[code StatesSimulations]

    p.Article-Paragraph
      | Если планируется создать динамическую страницу, то #[+Keyphrase--YDID на стадии #[+Term--YDID вёрстки]] с помощью
      |
      +Link--YDF({
        unendorsedExternalURI: sharedExternalLinks.pug.homePage.conditionalRendering
      }).Article-Link условного рендеринга в Pug
      |
      |   можно проверить, нормально ли отображается страница в целом при наличии или отсутствии тех или иных
      |   элементов.
      | В частности, можно условно отобразить разные состояния.
      | Например, если на странице осуществляется динамическое отображение коллекции данных, получаемых с помощью
      |   #[+Term--YDID AJAX], то страница может иметь следующие состояния:

    ul.Article-UnorderedList
      li Получение данных в процессе
      li Ошибка при получении данных
      li Нет данных
      li Есть данные, но нет&nbsp;результатов поиска
      li Данные успешно получены и отображаются

    p.Article-Paragraph.
      Все эти состояния можно определить в виде #[+Term--YDID булевских переменных] и организовать их условное
        отображение:

    +CodeViewer--YDF
      +CodeViewer-Listing--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.Pug }): :code_listing--yda
        extends ../../node_modules/@yamato-daiwa/frontend/PagesTemplates/RegularWebPage.pug

        block append Metadata

          -

            class ProductsListPage {

              static statesSimulations: {
                loading: false,
                loadingError: false,
                noData: false,
                noSearchingResults: false
              };

            }

        block append PageContent

          main

            h1 Товары

            if ProductsListPage.statesSimulations.loading

              //- Для состояния загрузки подойдёт Loading Placeholder (он же Skeleton Loading или Content Placeholder)

            else if ProductsListPage.statesSimulations.loadingError

              //- Сообщение об ошибке

            else if ProductsListPage.statesSimulations.noData

              //- Сообщение о том, что товаров нет или всё продано

            else if ProductsListPage.statesSimulations.noSearchingResults

              //- Сообщение о том, что по запросу ничего не найдено

            else

              //- Список товаров

    //-
      p.Article-Paragraph.
        Для того, чтобы переключиться между состояниями, необходимо перезапустить #[+ImportantEntity--YDID Pug].
        Если же Вы хотите показать заказчику все эти состояния в виде отдельных страниц
          #[+Keyphrase--YDID до реализации #[+Term--YDID JavaScript-динамики] и серверной части], при этом
          минимизировать количество рутинной работы (в частности, ручного создания файлов для каждого состояния),
          то обратите внимание на концепцию статического превью (ссылка) на сборщик проектов #[+ImportantEntity--YDID YDA],
          который имеет функциональность специально для таких случаев (ссылка).

    +AdmonitionBlock--YDF({
      SVG_Icon: true,
      geometricVariation: AdmonitionBlock__YDF.GeometricVariations.stickyNoteLike,
      decorativeVariation: AdmonitionBlock__YDF.DecorativeVariations.warning
    }).
      Не добавляете в #[+Term--YDID блок] #[+ImportantEntity__Code--YDID Metadata] никакой #[+Term--YDID разметки],
        так как #[+Term--YDID HTML-код] сгенерируется #[+Keyword--YDID вне] #[+Term--YDID тэга] #[+Term--YDID html].


    h3.Article-Heading3 #[code HeadBegin]

    +AdmonitionBlock--YDF({
      SVG_Icon: true,
      geometricVariation: AdmonitionBlock__YDF.GeometricVariations.stickyNoteLike,
      decorativeVariation: AdmonitionBlock__YDF.DecorativeVariations.guidance
    })
      | Начиная с этого #[+Term--YDID блока], содержимое будет добавлено #[+Keyword--YDID внутрь] #[+Term--YDID тэга]
      |   #[+ImportantEntity__Code--YDID html].
      | #[+Keyword--YDID Все] #[+Keyword__Contrast--YDID прежние] #[+Term--YDID блоки] предназначались
      |   #[+Keyword--YDID исключительно] для определения
      |
      +Link--YDF({
        unendorsedExternalURI: sharedExternalLinks.pug.homePage.inlineJavaScript
      }).Article-Link внутреннего JavaScript-кода
      |
      | и #[+Term--YDID Pug-примесей], что #[+Keyword--YDID не]&nbsp;даёт выходного #[+Term--YDID HTML-кода].

    p.Article-Paragraph.
      Используйте этот #[+Term--YDID блок], если хотите что-то добавить в #[+Keyword--YDID начало] #[+Term--YDID тэга]
        #[+ImportantEntity__Code--YDID head] (#[+Keyword--YDID перед] #[+Keyword__Contrast--YDID другими]
        #[+Keyword--YDID дочерними] элементами).

    p.Article-Paragraph.
      Поскольку последовательность #[+Keyword--YDID дочерних] по отношению #[+ImportantEntity__Code--YDID head]
        #[+Term--YDID тэгов] значение имеет #[+Keyword--YDID редко] (в основном это порядок подключения стилей
        и скриптов), то #[+Keyword--YDID обычно] добавлять что-то именно в начало нужды тоже&nbsp;#[+Keyword--YDID нет],
        поэтому данный #[+Term--YDID блок] пригодится разве что только в каких-нибудь особых случаях.

    +CodeViewer--YDF
      +CodeViewer-TabPanel--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.Pug })

        +CodeViewer-PartialListing--YDF: :code_listing--yda
          extends ../../node_modules/@yamato-daiwa/frontend/PagesTemplates/RegularWebPage.pug

            // ...

          block append HeadBeging

            link(rel="dns-prefetch" href="//example.com")
        +CodeViewer-Explanation--YDF.
          Для примера, добавлен тэг #[+SecondaryEntity__Code--YDID link] в начало #[+Term--YDID тэга]
            #[+ImportantEntity__Code--YDID head], однако необходимости добавлять его именно в начало
          #[+ImportantEntity__Code--YDID head] причины #[+Keyword--YDID не]&nbsp;было.

    +AdmonitionBlock--YDF({
      SVG_Icon: true,
      geometricVariation: AdmonitionBlock__YDF.GeometricVariations.stickyNoteLike,
      decorativeVariation: AdmonitionBlock__YDF.DecorativeVariations.warning
    }).
      Не добавляете в этот #[+Term--YDID блок] никакой #[+Term--YDID разметки], которой не&nbsp;должно быть в
        #[+Term--YDID тэге] #[+ImportantEntity__Code--YDID head].


    h3.Article-Heading3 #[code Styles]

    p.Article-Paragraph.
      Используйте этот #[+Term--YDID блок], если Вас по какой-либо причине Вас не&nbsp;устраивает указание ссылок на
        #[+Term--YDID стили] через конфигурацию
        (#[+ImportantEntity__Code--YDID RegularWebPageTemplate__YDF.configure({})]) или же Вы хотите объявить
        #[+Term--YDID стили] прямо в #[+Term--YDID тэге] #[+ImportantEntity__Code--YDID head].
      В частности, #[+Term--YDID тэги] #[+ImportantEntity__Code--YDID link], которые будут сгенерированы при указанных
        в конфигурации ссылках на #[+Term--YDID стили], #[+Keyword--YDID не]&nbsp;имеют никаких #[+Term--YDID аттрибутов]
        #[+Keyword--YDID кроме] #[+ImportantEntity__Code--YDID href] и #[+ImportantEntity__Code--YDID rel="stylesheet"],
        соответственно если нужны какие-то другие #[+Term--YDID аттрибуты], то добавьте #[+Term--YDID тэги]
        #[+ImportantEntity__Code--YDID link] в блок #[+ImportantEntity__Code--YDID Styles] вручную:

    +CodeViewer--YDF
      +CodeViewer-Listing--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.Pug }): :code_listing--yda
        extends ../../node_modules/@yamato-daiwa/frontend/PagesTemplates/RegularWebPage.pug

        block append Styles

          link(
            rel="stylesheet"
            href="/path/to/style.css"
            type="text/css"
            media="screen"
            crossorigin="anonymous"
            integrity="sha384-oqVuAfXRKap7fdgcCY5hULvJ0GhBGDq4IcF3J08z9QY9l03VvH3p0EOTr4N3kR0o"
          >

    p.Article-Paragraph.
      Данный способ указания #[+Term--YDID стилей] #[+Keyword--YDID не]&nbsp;конфликтует с указанием таковых через
        конфигурацию, однако для правильного #[+Term--YDID каскадирования стилей] необходимо учитывать
        последовательность, в которой #[+Term--YDID CSS-правила] объявлены на странице.
      Поскольку приоритет в #[+ImportantEntity--YDID CSS] зависит от #[+Keyword--YDID нескольких] факторов,
        то нельзя однозначно сказать, что только лишь последовательность объявления #[+Term--YDID CSS-правил] изменит
        отображение, тем не&nbsp;менее, последовательность — один из факторов, влияющий на конечное отображение.

    ul.Article-UnorderedList

      li.
        Используйте #[+Term--YDID ключевое слово] #[+ImportantEntity__Code--YDID prepend] при использовании
          #[+Term--YDID блока] #[+ImportantEntity__Code--YDID Styles], чтобы добавить #[+Term--YDID стили]
          #[+Keyword--YDID перед] теми, что указаны через конфигурацию.

      li.
        Используйте #[+Term--YDID ключевое слово] #[+ImportantEntity__Code--YDID append] при использовании
          #[+Term--YDID блока] #[+ImportantEntity__Code--YDID Styles], чтобы добавить #[+Term--YDID стили]
          #[+Keyword--YDID после] тех, что указаны через конфигурацию.

    +AdmonitionBlock--YDF({
      SVG_Icon: true,
      geometricVariation: AdmonitionBlock__YDF.GeometricVariations.stickyNoteLike,
      decorativeVariation: AdmonitionBlock__YDF.DecorativeVariations.warning
    }).
      Не добавляете в этот #[+Term--YDID блок] никакой #[+Term--YDID разметки], которой не&nbsp;должно быть в
        #[+Term--YDID тэге] #[+ImportantEntity__Code--YDID head].


    h3.Article-Heading3 #[code HeadScripts]

    p.Article-Paragraph.
      Используйте этот #[+Term--YDID блок], если Вас по какой-либо причине Вас не&nbsp;устраивает указание ссылок на
        #[+Term--YDID скрипты] через конфигурацию
        (#[+ImportantEntity__Code--YDID RegularWebPageTemplate__YDF.configure()]), или же Вы хотите объявить скрипты
        прямо в #[+Term--YDID тэге] #[+ImportantEntity__Code--YDID head].
      В частности, #[+Term--YDID тэги] #[+ImportantEntity__Code--YDID script], которые будут сгенерированы при указанных
        в конфигурации ссылках на #[+Term--YDID скрипты], #[+Keyword--YDID не]&nbsp;имеют никаких
        #[+Term--YDID аттрибутов] #[+Keyword--YDID кроме] #[+ImportantEntity__Code--YDID src],
        соответственно если нужны какие-то другие #[+Term--YDID аттрибуты], то добавьте #[+Term--YDID тэги]
        #[+ImportantEntity__Code--YDID script] в блок #[+ImportantEntity__Code--YDID HeadScripts] вручную:

    +CodeViewer--YDF
      +CodeViewer-Listing--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.Pug }): :code_listing--yda
        extends ../../node_modules/@yamato-daiwa/frontend/PagesTemplates/RegularWebPage.pug

        block append HeadScripts

          script(
            src="/path/to/index.js"
            type="module"
            async
            defer
            crossorigin="anonymous"
            integrity="sha384-oqVuAfXRKap7fdgcCY5hULvJ0GhBGDq4IcF3J08z9QY9l03VvH3p0EOTr4N3kR0o"
            referrerpolicy="no-referrer"
            nonce="randomString"
          )

    p.Article-Paragraph.
      #[+Keyword--YDID Обычно], #[+Term--YDID скрипты] рекомендуется добавлять в #[+Keyword--YDID конец]
        #[+Term--YDID тэга] #[+ImportantEntity__Code--YDID body], поскольку #[+Term--YDID скрипты], указанные ранее,
        могут #[+Keyword--YDID замедлить] отрисовку (рендеринг) страницы.
      Однако в некоторых случаях #[+Term--YDID скрипты] требуется добавлять именно в #[+Term--YDID тэг]
        #[+ImportantEntity__Code--YDID head], в особенности если эти сторонние скрипты для аналитики,
        такие как #[+ImportantEntity--YDID Google Analytics]:

    +CodeViewer--YDF
      +CodeViewer-Listing--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.Pug }): :code_listing--yda
        extends ../../node_modules/@yamato-daiwa/frontend/PagesTemplates/RegularWebPage.pug

        block append HeadScripts

          script(
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-S3L0PQFKMV"
          )

          script.

            window.dataLayer = window.dataLayer || [];

            function gtag() {
              dataLayer.push(arguments);
            }

            gtag("js", new Date());
            gtag("config", "G-S3L0PQFKMV");

    p.Article-Paragraph.
      Данный способ указания #[+Term--YDID скриптов] #[+Keyword--YDID не]&nbsp;конфликтует с указанием таковых через
        конфигурацию, и если #[+Term--YDID скрипты] независимы друг от друга (#[+Keyphrase--YDID в современности] это
        #[+Keyphrase--YDID чаще всего] так, чего нельзя сказать про устаревшие сайты и приложения), то можно
        использовать оба способа.

    ul.Article-UnorderedList

      li.
        Используйте #[+Term--YDID ключевое слово] #[+ImportantEntity__Code--YDID prepend] при использовании
          #[+Term--YDID блока] #[+ImportantEntity__Code--YDID HeadScripts], чтобы добавить #[+Term--YDID скрипты]
          #[+Keyword--YDID перед] теми, что указаны через конфигурацию.

      li.
        Используйте #[+Term--YDID ключевое слово] #[+ImportantEntity__Code--YDID append] при использовании
          #[+Term--YDID блока] #[+ImportantEntity__Code--YDID HeadScripts], чтобы добавить #[+Term--YDID скрипты]
          #[+Keyword--YDID после] тех, что указаны через конфигурацию.

    +AdmonitionBlock--YDF({
      SVG_Icon: true,
      geometricVariation: AdmonitionBlock__YDF.GeometricVariations.stickyNoteLike,
      decorativeVariation: AdmonitionBlock__YDF.DecorativeVariations.warning
    }).
      Не добавляете в этот #[+Term--YDID блок] никакой #[+Term--YDID разметки], которой не&nbsp;должно быть в
        #[+Term--YDID тэге] #[+ImportantEntity__Code--YDID head].


    h3.Article-Heading3 #[code PageContent]

    +AdmonitionBlock--YDF({
      SVG_Icon: true,
      geometricVariation: AdmonitionBlock__YDF.GeometricVariations.stickyNoteLike,
      decorativeVariation: AdmonitionBlock__YDF.DecorativeVariations.guidance
    })
      | Начиная с этого #[+Term--YDID блока], содержимое будет добавлено #[+Keyword--YDID внутрь] #[+Term--YDID тэга]
      |   #[+ImportantEntity__Code--YDID body].

    p.Article-Paragraph.
      Добавьте внутрь этого #[+Term--YDID блока] #[+Keyword--YDID видимое] содержимое страницы.
      Тэг #[+ImportantEntity__Code--YDID body] будет при этом #[+Term--YDID прямым] родителем сгенерированного
        #[+Term--YDID HTML-кода].

    +CodeViewer--YDF
      +CodeViewer-Listing--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.Pug }): :code_listing--yda
        extends ../../node_modules/@yamato-daiwa/frontend/PagesTemplates/RegularWebPage.pug

        block append PageContent

          header.TopPage-Header

            //- ...

          main

            //- ...

          footer

            //- ...


    h3.Article-Heading3 #[code EndBodyContent]

    p.Article-Paragraph.
      Согласно некоторым методологиям, фиксированно позиционированные элементы, такие как
        #[+Term--YDID модальные диалоги], принято помещать #[+Keyword--YDID после] #[+Keyword__Contrast--YDID всех]
        #[+Keyword--YDID остальных] элементов, но, разумеется, внутри #[+Term--YDID тэга]
        #[+ImportantEntity__Code--YDID body].
      Если Вы придерживаетесь такой рекомендации, то используйте #[+Term--YDID блок]
        #[+ImportantEntity__Code--YDID EndBodyContent].
      Содержимое этого #[+Term--YDID блока] будет идти #[+Keyword--YDID сразу] после содержимого
        #[+ImportantEntity__Code--YDID PageContent].

    +CodeViewer--YDF
      +CodeViewer-Listing--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.Pug }): :code_listing--yda
        extends ../../node_modules/@yamato-daiwa/frontend/PagesTemplates/RegularWebPage.pug

        block append PageContent

          //- ...

        block append EndBodyContent

          +ContactRequestPage-ModalDialog


    h3.Article-Heading3 #[code EndBodyScripts]

    p.Article-Paragraph.

      Используйте этот #[+Term--YDID блок], если Вас по какой-либо причине Вас не&nbsp;устраивает указание ссылок на
        #[+Term--YDID скрипты] через конфигурацию
        (#[+ImportantEntity__Code--YDID RegularWebPageTemplate__YDF.configure()]), или же Вы хотите написать скрипт
          прямо в #[+Term--YDID тэге] #[+ImportantEntity__Code--YDID body].
      В частности, #[+Term--YDID тэги] #[+ImportantEntity__Code--YDID script], которые будут сгенерированы при указанных
        в конфигурации ссылках на #[+Term--YDID скрипты], #[+Keyword--YDID не]&nbsp;имеют никаких
        #[+Term--YDID аттрибутов] #[+Keyword--YDID кроме] #[+ImportantEntity__Code--YDID src],
        соответственно если нужны какие-то другие #[+Term--YDID аттрибуты], то добавьте #[+Term--YDID тэги]
        #[+ImportantEntity__Code--YDID script] в блок #[+ImportantEntity__Code--YDID EndBodyScripts] вручную:

    +CodeViewer--YDF
      +CodeViewer-Listing--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.Pug }): :code_listing--yda
        extends ../../node_modules/@yamato-daiwa/frontend/PagesTemplates/RegularWebPage.pug

        block append PageContent

          // ...

        block append EndBodyScripts

          script(
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
          )

    p.Article-Paragraph.
      Данный способ указания #[+Term--YDID скриптов] #[+Keyword--YDID не]&nbsp;конфликтует с указанием таковых через
        конфигурацию, и если #[+Term--YDID скрипты] независимы друг от друга (#[+Keyphrase--YDID в современности] это
        #[+Keyphrase--YDID чаще всего] так, чего нельзя сказать про устаревшие сайты и приложения), то можно
        использовать оба способа.

    ul.Article-UnorderedList

      li.
        Используйте #[+Term--YDID ключевое слово] #[+ImportantEntity__Code--YDID prepend] при использовании
          #[+Term--YDID блока] #[+ImportantEntity__Code--YDID EndBodyScripts], чтобы добавить #[+Term--YDID скрипты]
          #[+Keyword--YDID перед] теми, что указаны через конфигурацию.

      li.
        Используйте #[+Term--YDID ключевое слово] #[+ImportantEntity__Code--YDID append] при использовании
          #[+Term--YDID блока] #[+ImportantEntity__Code--YDID EndBodyScripts], чтобы добавить #[+Term--YDID скрипты]
          #[+Keyword--YDID после] тех, что указаны через конфигурацию.


    h2.Article-Heading2 Многоуровневое наследование

    p.Article-Paragraph.
      Если в Вашем проекте несколько страниц, при этом многие их них имеют общую часть (например, общие шапку,
        подвал и сайдбар), то #[+Term--YDID Pug-файлы] страниц имеет смысл наследовать от
        #[+ImportantEntity__Code--YDID RegularWebPageTemplate] #[+Keyword--YDID не]&nbsp;напрямую, а через
        #[+Keyword--YDID промежуточные] #[+Term--YDID шаблоны страниц], содержание общую для унаследованных страниц
        разметку.
      Обычно имеется основной шаблон, шаблон для админ-панели, шаблон для аутентификации и так далее.

    +AdmonitionBlock--YDF({
      title: "Осторожнее с терминами",
      SVG_Icon: true,
      geometricVariation: AdmonitionBlock__YDF.GeometricVariations.stickyNoteLike,
      decorativeVariation: AdmonitionBlock__YDF.DecorativeVariations.notice
    })

      p.Article-Paragraph.
        Обычно файлы с общей для нескольких страниц #[+Term--YDID разметкой], от которых осуществляются наследование
          конкретных страниц, в англоязычных источниках называют #[+Term--YDID layout-ами], и хотя «layout» переводится как
          «раскладка»/«компоновка», по-русски эти файлы называют #[+Term--YDID «шаблонами»].
        И англоязычный термин #[+Term--YDID «layout»], и русскоязычный термин #[+Term--YDID «шаблон»] являются
          #[+Keyword--YDID многозначиными], потому может возникнуть путаница.

      ul.Article-UnorderedList

        li.
          #[+Term--YDID «Шаблон»] — #[+Keyword--YDID очень] #[+Keyword__Contrast--YDID широкое] понятие.
          В частности, ввиду того, что #[+ImportantEntity--YDID Pug] и прочие #[+Term--YDID HTML-препроцессоры] иногда
            называют #[+Term--YDID «шаблонизаторами»], #[+Keyword--YDID любой] #[+Term--YDID pug-файл] можно назвать
            #[+Term--YDID «шаблоном»].
          Рекомендуется использовать термин #[+Term--YDID «шаблон страниц»], чтобы уменьшить неоднозначность.

        li.
          Термин «layout» часто используют по отношению к #[+Keyword--YDID любой]
            #[+Keyphrase--YDID структурно объединённой] #[+Keyword--YDID комбинации] #[+Term--YDID элементов]
            (даже #[+Keyword--YDID не]&nbsp;обязательно #[+Term--YDID HTML-элементов] — термин применим к любым
            технологиям, с помощью которых создаются графические пользовательские интерфейсы).
          Аналогично русскому языку, для уменьшения неоднозначности можно использовать термин
            #[+Term--YDID «pages layout»].

    p.Article-Paragraph.
      Ниже представлен пример #[+Term--YDID шаблона страниц], включающий в себя #[+Term--YDID разметку] одноколоночного
        макета.
      Для того, чтобы встраивать в него контент, уникальный для конкретной страницы, определён новый
        #[+Term--YDID Pug-блок] #[+SecondaryEntity__Code--YDID SpecificContent]:

    +CodeViewer--YDF
      +CodeViewer-Listing--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.Pug }): :code_listing--yda
        extends ../../node_modules/@yamato-daiwa/frontend/PagesTemplates/RegularWebPage.pug

        block append PageContent

          .MainLayout

              .MainLayout-UpperFixedContentSlot

                +Header
                +NavigationBar


              main.MainLayout-SpecificContent

                block SpecificContent


              +Footer

    p.Article-Paragraph.
      Теперь от этого #[+Term--YDID шаблона страниц] можно наследовать уже конкретные страницы:

    +CodeViewer--YDF
      +CodeViewer-Listing--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.Pug }): :code_listing--yda
        extends ../Layouts/OneColumnLayout.pug

        block append SpecificContent

          h1 Товары
