include CompoundControlShell.class.pug


mixin CompoundControlShell--YDF(properties, statesSimulations)

  -

    const {

      label,
      guidance,

      required = false,
      mustDisplayAppropriateBadgeIfInputIsRequired = false,
      mustDisplayAppropriateBadgeIfInputIsOptional = false,
      mustAddInvisibleBadgeForHeightEqualizingWhenNoBadge = false,

      coreElementHTML_ID,
      labelElementHTML_ID,

      mainSlotWrapperAdditionalCSS_Classes = [],

      theme = CompoundControlShell__YDF.Themes.regular,
      areThemesExternal = CompoundControlShell__YDF.areThemesExternal,
      geometry = CompoundControlShell__YDF.GeometricVariations.regular,
      decoration = CompoundControlShell__YDF.DecorativeVariations.regular

    } = PugMixinsObjectTypeParametersProcessor.processParameter({
      rawParameter: properties,
      parameterNumber: 1,
      parameterName: "properties",
      parameterPropertiesSpecification: CompoundControlShell__YDF.propertiesSpecification,
      mixinName: CompoundControlShell__YDF.CSS_NAMESPACE
    });

    const {
      invalidInputHighlightingIfAnyValidationErrorsMessages = false,
      validValueHighlightingIfNoValidationErrorsMessages = false,
      validationErrorsMessages = []
    } = PugMixinsObjectTypeParametersProcessor.processParameter({
      rawParameter: statesSimulations,
      parameterNumber: 2,
      parameterName: "statesSimulations",
      parameterPropertiesSpecification: CompoundControlShell__YDF.stateSimulationsSpecification,
      mixinName: "CompoundControlShell--YDF"
    });

    const { localization } = CompoundControlShell__YDF;

    const rootElementModifierCSS_Classes = [
      ...Object.entries(CompoundControlShell__YDF.Themes).length > 1 && !areThemesExternal ?
          [ ComponentsAuxiliaries.generateThemeCSS_Class(CompoundControlShell__YDF.CSS_NAMESPACE, theme) ] : [],
      ...Object.entries(CompoundControlShell__YDF.GeometricVariations).length > 1 ?
          [ ComponentsAuxiliaries.generateGeometricVariationCSS_Class(CompoundControlShell__YDF.CSS_NAMESPACE, geometry) ] : [],
      ...Object.entries(CompoundControlShell__YDF.DecorativeVariations).length > 1 ?
          [ ComponentsAuxiliaries.generateDecorativeVariationCSS_Class(CompoundControlShell__YDF.CSS_NAMESPACE, decoration) ] : [],
      ...invalidInputHighlightingIfAnyValidationErrorsMessages && validationErrorsMessages.length > 0 ?
          [ `${ CompoundControlShell__YDF.CSS_NAMESPACE }__InvalidValueState` ] : [],
      ...validValueHighlightingIfNoValidationErrorsMessages && validationErrorsMessages.length === 0 ?
          [ `${ CompoundControlShell__YDF.CSS_NAMESPACE }__ValidValueState` ] : []
    ];


    const mustDisplayRequiredInputBadge = required && mustDisplayAppropriateBadgeIfInputIsRequired;
    const mustDisplayOptionalInputBadge = !required && mustDisplayAppropriateBadgeIfInputIsOptional;

    const mustDisplayHeader = label ||
        mustDisplayRequiredInputBadge ||
        mustDisplayOptionalInputBadge ||
        mustAddInvisibleBadgeForHeightEqualizingWhenNoBadge;


  .CompoundControlShell--YDF&attributes(attributes)(class= rootElementModifierCSS_Classes)

    if mustDisplayHeader

      .CompoundControlShell--YDF-Header

        if label

          label.CompoundControlShell--YDF-Label(
            for=coreElementHTML_ID
            id=labelElementHTML_ID
          )= label

        if mustDisplayRequiredInputBadge

          span.CompoundControlShell--YDF-Badge.CompoundControlShell--YDF-Badge__RequiredInput
            | #{ localization.requirementBadges.required }

        else if mustDisplayOptionalInputBadge

          span.CompoundControlShell--YDF-Badge.CompoundControlShell--YDF-Badge__OptionalInput
            | #{ localization.requirementBadges.optional }

        else if mustAddInvisibleBadgeForHeightEqualizingWhenNoBadge

          span.CompoundControlShell--YDF-Badge.CompoundControlShell--YDF-Badge__Invisible


    if guidance

      p.CompoundControlShell--YDF-Guidance!= guidance


    .CompoundControlShell--YDF-MainSlotCustomizableWrapper(
      class= mainSlotWrapperAdditionalCSS_Classes
    )

      block


    if invalidInputHighlightingIfAnyValidationErrorsMessages && validationErrorsMessages.length > 0
      ul.CompoundControlShell--YDF-ValidationErrorsMessagesList
        each validationErrorMessage in validationErrorsMessages
          li.CompoundControlShell--YDF-ValidationErrorMessage= validationErrorMessage

    template.CompoundControlShell--YDF-ValidationErrorMessagesListTemplate
      ul.CompoundControlShell--YDF-ValidationErrorsMessagesList
        li.CompoundControlShell--YDF-ValidationErrorMessage
