transition(
  v-if="snackbarService.isSnackbarDisplaying"
  name="snackbar_fading"
)

  .Snackbar(
    :class="variationModifierCSS_Class"
  )

    SuccessIcon.Snackbar-Icon(
      v-if="snackbarService.variation === Variations.success"
    )
    InfoIcon.Snackbar-Icon(
      v-else-if="snackbarService.variation === Variations.info"
    )
    WarningIcon.Snackbar-Icon(
      v-else-if="snackbarService.variation === Variations.warning"
    )
    ErrorIcon.Snackbar-Icon(
      v-else-if="snackbarService.variation === Variations.error"
    )

    p.Snackbar-Message(
      v-html="messageTextOrHTML"
    )

    button.Snackbar-DismissButton(
      type="button"
      aria-label="Close snackbar"
      @click="snackbarService.hideSnackbar"
    ): CloseActionIcon.Snackbar-DismissButton-Icon
