extends ../../../../../node_modules/@yamato-daiwa/frontend/PagesTemplates/RegularWebPage.pug


block append Metadata

  -

    HTML_PAGE_TITLE = "Basic integrated controls group demo - YDF";

    styleSheetsURIs = [ "@Demos/Assemblies/ControlsGroups/Basic/Integrated/BasicIntegratedControlsGroup" ];
    scriptsURIs.endOfBody = [ "@Demos/Assemblies/ControlsGroups/Basic/Integrated/BasicIntegratedControlsGroup" ]


block append Requirements

  include ../../../../../node_modules/@yamato-daiwa/frontend/Components.pug


block append StatesSimulations

  -
    const basicIntegratedControlsGroupStateSimulations = {
      summarizingErrorMessage: true,
      asynchronousValidationsNotFinishedYetMessage: true
    };


block append PageContent

  main.BasicIntegratedControlsGroupDemo

    form.BasicIntegratedControlsGroupDemo-Form#SCROLLABLE_CONTAINER

      h1.BasicIntegratedControlsGroupDemo-Heading= HTML_PAGE_TITLE


      +TextBox--YDF({
        label: "User name"
      }).BasicIntegratedControlsGroupDemo-TextBox#USER_NAME--TEXT_BOX

      +TextBox--YDF({
        HTML_Type: TextBox__YDF.HTML_Types.email,
        label: "Email",
      }).BasicIntegratedControlsGroupDemo-TextBox#EMAIL--TEXT_BOX

      +TextBox--YDF({
        HTML_Type: TextBox__YDF.HTML_Types.phoneNumber,
        label: "Phone number",
      }).BasicIntegratedControlsGroupDemo-TextBox#PHONE_NUMBER--TEXT_BOX

      +TextBox--YDF({
        label: "Password",
        HTML_Type: TextBox__YDF.HTML_Types.password
      }).BasicIntegratedControlsGroupDemo-TextBox#PASSWORD--TEXT_BOX

      +TextBox--YDF({
        label: "Password (confirmation)",
        HTML_Type: TextBox__YDF.HTML_Types.password
      }).BasicIntegratedControlsGroupDemo-TextBox#PASSWORD_CONFIRMATION--TEXT_BOX


      p.BasicIntegratedControlsGroupDemo-Message#SUMMARIZING_ERROR_MESSAGE(
        hidden=(
          !__IS_STATIC_PREVIEW_BUILDING_MODE__ ||
          basicIntegratedControlsGroupStateSimulations.summarizingErrorMessage
        )
        class="BasicIntegratedControlsGroupDemo-Message__SummarizingError"
      ) Invalid or omitted required field(s) left. Please check your inputs.

      p.BasicIntegratedControlsGroupDemo-Message#ASYNCHRONOUS_VALIDATIONS_NOT_FINISHED_YET_MESSAGE(
        hidden=(
          !__IS_STATIC_PREVIEW_BUILDING_MODE__ ||
          basicIntegratedControlsGroupStateSimulations.asynchronousValidationsNotFinishedYetMessage
        )
        class="BasicIntegratedControlsGroupDemo-Message__AsynchronousValidationsNotFinishedYet"
      ) The asynchronous validation(s) has not finished yet. Please wait for the checking results.


      +Button--YDF({
        label: "Sign up",
        HTML_Type: Button__YDF.HTML_Types.submit
      }).BasicIntegratedControlsGroupDemo-SubmittingButton#SIGNING_UP--BUTTON
