VerticallySlidingAlwaysMountedContainer.AdmonitionBlock--YDF(
  v-model="isDisplaying"
  role="alert"
  :class="rootElementModifierCSS_Classes"
)

  slot(
    v-if="$slots.CustomSVG_Icon"
    name="CustomSVG_Icon"
  )

  component.AdmonitionBlock--YDF-SVG_Icon(
    v-else-if="hasDefaultSVG_Icon"
    :is="defaultSVG_IconComponentName"
  )

  .AdmonitionBlock--YDF-Title(
    v-if="title"
    id=TITLE_HTML_ID
  ) {{ title }}

  .AdmonitionBlock--YDF-MainContent(
    :aria-labelledby="title ? TITLE_HTML_ID : null"
  )

    slot

    template(
      v-if="$slots.ActionBar"
    )

      .AdmonitionBlock--YDF-ActionBar

        slot(
          name="ActionBar"
        )

  button.AdmonitionBlock--YDF-DismissingButton(
    v-if="dismissible"
    type="button"
    :aria-label="localization.dismissingButton.accessibilityGuidance"
    @click="onClickDismissingButton"
  ): MultiplicationSignIcon__Boxed__Filled.AdmonitionBlock--YDF-DismissingButton-Icon
