include Snackbar.class.pug


mixin Snackbar--YDF(properties, statesSimulations)

  -

    const {
      text,
      theme = Snackbar__YDF.Themes.regular,
      areThemesCSS_ClassesCommon = ARE_YDF_COMPONENTS_THEMES_COMMON_BY_DEFAULT || Snackbar__YDF.areThemesCSS_ClassesCommon,
      geometry = Snackbar__YDF.GeometricVariations.regular,
      decoration
    } = PugMixinsObjectTypeParametersProcessor.processParameter({
      rawParameter: properties,
      parameterNumber: 1,
      parameterName: "properties",
      parameterPropertiesSpecification: Snackbar__YDF.propertiesSpecification,
      mixinName: Snackbar__YDF.CSS_NAMESPACE
    });

    const {
      mustDisplay = true
    } = PugMixinsObjectTypeParametersProcessor.processParameter({
      rawParameter: statesSimulations,
      parameterNumber: 2,
      parameterName: "statesSimulations",
      parameterPropertiesSpecification: Snackbar__YDF.statesSimulationsSpecification,
      mixinName: Snackbar__YDF.CSS_NAMESPACE
    });

    const rootElementModifierCSS_Classes = [

      ...ComponentsAuxiliaries.addThemeCSS_ClassToArrayIfMust({
        theme,
        allThemes: Snackbar__YDF.Themes,
        CSS_Namespace: Snackbar__YDF.CSS_NAMESPACE,
        areThemesCSS_ClassesCommon
      }),

      ...ComponentsAuxiliaries.addGeometricVariationCSS_ClassToArrayIfMust({
        geometry,
        allGeometricVariations: Snackbar__YDF.GeometricVariations,
        CSS_Namespace: Snackbar__YDF.CSS_NAMESPACE
      }),

      ...ComponentsAuxiliaries.addDecorativeVariationCSS_ClassToArrayIfMust({
        decoration,
        allDecorativeVariations: Snackbar__YDF.DecorativeVariations,
        CSS_Namespace: Snackbar__YDF.CSS_NAMESPACE
      })

    ];


  if mustDisplay

    .Snackbar--YDF&attributes(attributes)(
      class=rootElementModifierCSS_Classes
      role="status"
      aria-live="polite"
    )

      +ExclamationMark__Circled__Filled--YDF_Icon.Snackbar--YDF-Icon

      p.Snackbar--YDF-Message= text

      button.Snackbar--YDF-DismissingButton(
        type="button"
        aria-label=Snackbar__YDF.localization.dismissingButton.accessibilityGuidance
      ): +MultiplicationSign__Boxed__Filled--YDF_Icon.Snackbar--YDF-DismissingButton-Icon
