extends ../../../../PagesTemplates/RegularWebPage.pug


block append Metadata

  -
    HTML_PAGE_TITLE = "AdmonitionBlock Component Testing"
    styleSheetsURIs = [ "./AdmonitionBlock.workbench.css" ]


block append Requirements

  include ../../../../Components.pug


block append PageContent

  svg(
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    style="display: none;"
  )
    g(
      id="CUSTOM_ICON_GROUP"
    )
      circle(cx="12" cy="12" r="10")
      line(x1="8" y1="14" x2="16" y2="14")
      line(x1="8" y1="10" x2="16" y2="10")

  +AdmonitionBlock--YDF({
    decorativeVariation: AdmonitionBlock__YDF.DecorativeVariations.notice,
    SVG_Icon: {
      innerElementID: "CUSTOM_ICON_GROUP",
      SVG_ElementAttributes: {
        viewBox: "0 0 24 24",
        fill: "none",
        stroke: "currentColor",
        "stroke-width": "2",
        "stroke-linecap": "round",
        "stroke-linejoin": "round"
      }
    },
    dismissible: true
  }) Sample
