mixin ModalDialog--YDF(properties, statesSimulations)

  -

    properties = properties ?? {}
    statesSimulations = statesSimulations ?? {}

    const {
      title,
      noDismissingButton = false
    } = properties

    const {
      mustDisplay = true
    } = statesSimulations

    const rootElementModifierCSS_Classes = [
      "ModalDialog--YDF__FillingOfScreenWithSmallGapGeometry"
    ];



  //- [ Reference ] https://www.w3.org/WAI/ARIA/apg/example-index/dialog-modal/dialog

  if mustDisplay

    .ModalDialog--YDF(
      role="dialog"
      tabindex="-1"
      class= rootElementModifierCSS_Classes
    )&attributes(attributes)

      .ModalDialog--YDF-Body(
        role="document"
      )

        if title || !noDismissingButton

          .ModalDialog--YDF-Header

            .ModalDialog--YDF-Title= title

            +Button--YDF({
              geometry: Button__YDF.GeometricVariations.small
            }).ModalDialog--YDF-DismissingButton
              +MultiplicationSign--YDF_Icon.Button--YDF-SVG_Icon
              span.Button--YDF-Label 閉じる

        block
