mixin ModalDialog(properties, statesSimulations)

  -

    properties = properties ?? {}
    statesSimulations = statesSimulations ?? {}

    const {
      title,
      noDismissingButton = false
    } = properties

    const {

    } = statesSimulations

    const rootElementModifierCSS_Classes = [
      "ModalDialog__FillingOfScreenWithSmallGapGeometry"
    ];


  .ModalDialog(
    role="dialog"
    tabindex="-1"
    class= rootElementModifierCSS_Classes
  )&attributes(attributes)

    .ModalDialog-Body(
      role="document"
    )

      if title || !noDismissingButton

        .ModalDialog-Header

          .ModalDialog-Title= title

          +Button--YDF({
            geometry: Button__YDF.GeometricVariations.small
          }).ModalDialog-DismissingButton
            +MultiplicationSign--YDF_Icon.Button--YDF-SVG_Icon
            span.Button--YDF-Label 閉じる

      block
