-

  generatePageTableOfContents = localizedStrings => {

    const PAGE_URI = localizedRouting.coreLibrary.$children.components.$URI;

    const pageTableOfContents = {

      markup: {

        $heading: localizedStrings.markup.$heading,
        $anchor: "MARKUP--SECTION",
        get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; },

        $children: {

          providing: {
            $heading: localizedStrings.markup.providing.$heading,
            $anchor: "MARKUP-PROVIDING--SECTION",
            get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
          }

        }

      },

      providingOfStyles: {
        $heading: localizedStrings.providingOfStyles.$heading,
        $anchor: "providingOfStyles",
        get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
      },

      themes: {
        $heading: localizedStrings.themes.$heading,
        $anchor: "THEMES--SECTION",
        get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
      },

      customization: {
        $heading: localizedStrings.customization.$heading,
        $anchor: "CUSTOMIZATION--SECTION",
        get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
      }

    };

    return pageTableOfContents;

  }
