include ${FILE_NAME_WITHOUT_EXTENSION}.toc.pug


-

  localizedRouting.${ROUTE}.${DS}sectioning = generatePageTableOfContents({
    level1_1: { ${DS}heading: "Level 1-1" },
    level1_2: {
      ${DS}heading: "Level 1-2",
      level2_1: { ${DS}heading: "Level 2-1" }
    }
  });
