-

  generatePageTableOfContents = localizedStrings => {

    const PAGE_URI = localizedRouting.${ROUTE_PATH};

    const tableOfContents = {

      level1_1: {
        ${DS}heading: localizedStrings.level1_1.${DS}heading,
        ${DS}anchor: "LEVEL1_1--SECTION",
        get ${DS}URI() { return `${ PAGE_URI }#${ this.${DS}anchor }`; }
      },

      level1_2: {

        ${DS}heading: localizedStrings.level1_2.${DS}heading,
        ${DS}anchor: "LEVEL1_2--SECTION",
        get $URI() { return `${ PAGE_URI }#${ this.${DS}anchor }`; },

        ${DS}children: {

          level2_1: {
            ${DS}heading: localizedStrings.level1_2.level2_1.${DS}heading,
            ${DS}anchor: "LEVEL2_1--SECTION",
            get ${DS}URI() { return `${ PAGE_URI }#${ this.${DS}anchor }`; }
          }

        }

      }

    };

    return tableOfContents;

  }
