mixin BadgeDemo(options)

  -

    options = options ?? {
      headings: true,
      partials: {
        valuesOnly: true,
        keysAndValues: true,
        iconsAndKeysAndValues: true,
        iconsAndValues: true,
        geometricModifiers: {
          pillShape: true
        },
        decorativeModifiers: {
          bordersDisguising: true
        },
        overflowTesting: {
          multiline: true,
          singleLine: true
        },
        loadingPlaceholder: true
      }
    }

    ThemesShowcase__YDF.
        setDefaultThemeKeyLabelPrefix("Badge__YDF.Themes.").
        setDefaultGeometricVariationLabelPrefix("Badge__YDF.GeometricVariations.").
        setDefaultDecorativeVariationLabelPrefix("Badge__YDF.DecorativeVariations.");

    const themeShowcaseCurrentIternationData = ThemesShowcase__YDF.initializeCurrentIterationData()


  if options.headings

    h1.Heading1 Badge component testing


  //- === Values only ==================================================================================================
  if options.partials.valuesOnly

    if options.headings

      h2.Heading2 Values only

    +ThemesShowcase--YDF({
      themes: Badge__YDF.Themes,
      geometricVariations: Badge__YDF.GeometricVariations,
      decorativeVariations: Badge__YDF.DecorativeVariations,
      decorativeVariationsWrapperTag: "dl",
      decorativeVariationsWrapperAdditionalCSS_Classes: [ "BadgeDemo-BadgesTwoColumnsTable" ],
      iterationData: themeShowcaseCurrentIternationData
    })

      dt=`Badge__YDF.DecorativeVariations.${ themeShowcaseCurrentIternationData.decorativeVariation.key }`
      dd
        +Badge--YDF({
          value: "Sample",
          theme: themeShowcaseCurrentIternationData.theme.value,
          geometry: themeShowcaseCurrentIternationData.geometricVariation.value,
          decoration: themeShowcaseCurrentIternationData.decorativeVariation.value
        })


  //- === Keys and values ==============================================================================================
  if options.partials.keysAndValues

    if options.headings

      h2.Heading2 Keys and values

    +ThemesShowcase--YDF({
      themes: Badge__YDF.Themes,
      geometricVariations: Badge__YDF.GeometricVariations,
      decorativeVariations: Badge__YDF.DecorativeVariations,
      decorativeVariationsWrapperTag: "dl",
      decorativeVariationsWrapperAdditionalCSS_Classes: [ "BadgeDemo-BadgesTwoColumnsTable" ],
      iterationData: themeShowcaseCurrentIternationData
    })

      dt=`Badge__YDF.DecorativeVariations.${ themeShowcaseCurrentIternationData.theme.key }`
      dd
        +Badge--YDF({
          key: "Key",
          value: "Sample",
          theme: themeShowcaseCurrentIternationData.theme.value,
          geometry: themeShowcaseCurrentIternationData.geometricVariation.value,
          decoration: themeShowcaseCurrentIternationData.decorativeVariation.value
        })


  //- === Icons, keys and values =======================================================================================
  if options.partials.iconsAndKeysAndValues

    if options.headings

      h2.Heading2 Icons, keys and values

    +ThemesShowcase--YDF({
      themes: Badge__YDF.Themes,
      geometricVariations: Badge__YDF.GeometricVariations,
      decorativeVariations: Badge__YDF.DecorativeVariations,
      decorativeVariationsWrapperTag: "dl",
      decorativeVariationsWrapperAdditionalCSS_Classes: [ "BadgeDemo-BadgesTwoColumnsTable" ],
      iterationData: themeShowcaseCurrentIternationData
    })

      dt=`Badge__YDF.DecorativeVariations.${ themeShowcaseCurrentIternationData.theme.key }`
      dd
        +Badge--YDF({
          key: "Date",
          value: new Date().toLocaleDateString(),
          theme: themeShowcaseCurrentIternationData.theme.value,
          geometry: themeShowcaseCurrentIternationData.geometricVariation.value,
          decoration: themeShowcaseCurrentIternationData.decorativeVariation.value
        }): +Calendar--YDF_Icon.Badge--YDF-SVG_Icon


  //- === Icons and values =============================================================================================
  if options.partials.iconsAndValues

    if options.headings

      h2.Heading2 Icons and values

    +ThemesShowcase--YDF({
      themes: Badge__YDF.Themes,
      geometricVariations: Badge__YDF.GeometricVariations,
      decorativeVariations: Badge__YDF.DecorativeVariations,
      decorativeVariationsWrapperTag: "dl",
      decorativeVariationsWrapperAdditionalCSS_Classes: [ "BadgeDemo-BadgesTwoColumnsTable" ],
      iterationData: themeShowcaseCurrentIternationData
    })

      dt=`Badge__YDF.DecorativeVariations.${ themeShowcaseCurrentIternationData.theme.key }`
      dd
        +Badge--YDF({
          value: new Date().toLocaleDateString(),
          theme: themeShowcaseCurrentIternationData.theme.value,
          geometry: themeShowcaseCurrentIternationData.geometricVariation.value,
          decoration: themeShowcaseCurrentIternationData.decorativeVariation.value
        }): +Calendar--YDF_Icon.Badge--YDF-SVG_Icon


  //- === Geometric modifiers ==========================================================================================
  if options.partials.geometricModifiers.pillShape

    if options.headings

      h2.Heading2 Geometric modifiers

      h3.Heading3 Pill shape

    +ThemesShowcase--YDF({
      themes: Badge__YDF.Themes,
      geometricVariations: Badge__YDF.GeometricVariations,
      decorativeVariations: Badge__YDF.DecorativeVariations,
      decorativeVariationsWrapperTag: "dl",
      decorativeVariationsWrapperAdditionalCSS_Classes: [ "BadgeDemo-BadgesTwoColumnsTable" ],
      iterationData: themeShowcaseCurrentIternationData
    })

      dt=`Badge__YDF.DecorativeVariations.${ themeShowcaseCurrentIternationData.theme.key }`
      dd
        +Badge--YDF({
          value: "Value",
          geometry: themeShowcaseCurrentIternationData.geometricVariation.value,
          geometricModifiers: [ Badge__YDF.GeometricModifiers.pillShape ],
          decoration: themeShowcaseCurrentIternationData.decorativeVariation.value
        }): +Calendar--YDF_Icon.Badge--YDF-SVG_Icon


    //- === Decorative modifiers =========================================================================================
    if options.partials.decorativeModifiers.bordersDisguising

      if options.headings

        h2.Heading2 Decorative modifiers

        h3.Heading3 Borders disguising

      +ThemesShowcase--YDF({
        themes: Badge__YDF.Themes,
        geometricVariations: Badge__YDF.GeometricVariations,
        decorativeVariations: Badge__YDF.DecorativeVariations,
        decorativeVariationsWrapperTag: "dl",
        decorativeVariationsWrapperAdditionalCSS_Classes: [ "BadgeDemo-BadgesTwoColumnsTable" ],
        iterationData: themeShowcaseCurrentIternationData
      })

        dt=`Badge__YDF.DecorativeVariations.${ themeShowcaseCurrentIternationData.theme.key }`
        dd
          +Badge--YDF({
            value: "Value",
            geometry: themeShowcaseCurrentIternationData.geometricVariation.value,
            decoration: themeShowcaseCurrentIternationData.decorativeVariation.value,
            decorativeModifiers: [ Badge__YDF.DecorativeModifiers.bordersDisguising ]
          }): +Calendar--YDF_Icon.Badge--YDF-SVG_Icon


  //- === Overflow testing =============================================================================================
  if options.partials.overflowTesting.multiline || options.partials.overflowTesting.singleLine

    if options.headings

      h2.Heading2 Overflow safety


    if options.partials.overflowTesting.multiline

      if options.headings

        h3.Heading3 Multiline

      .BadgeDemo-BadgesFlow

        +Badge--YDF({
          key: textOverflowSafetyTest,
          value: textOverflowSafetyTest,
          decoration: Badge__YDF.DecorativeVariations.achromaticPastel
        })


    if options.partials.overflowTesting.singleLine

      if options.headings

        h3.Heading3 Single line

      .BadgeDemo-BadgesFlow.BadgeDemo-BadgesFlow__LimitedChildrenMaximalWidth

        +Badge--YDF({
          key: textOverflowSafetyTest,
          value: textOverflowSafetyTest,
          mustForceSingleLine: true,
          decoration: Badge__YDF.DecorativeVariations.achromaticPastel
        })


  //- === Loading placeholder ==========================================================================================
  if options.partials.loadingPlaceholder

    if options.headings

      h2.Heading2 Loading placeholder

    .BadgeDemo-BadgesFlow

      each geometricVariation in Object.values(Badge__YDF.GeometricVariations)

        +Badge--YDF-LoadingPlaceholder({
          geometry: geometricVariation,
        })

        +Badge--YDF-LoadingPlaceholder({
          geometry: geometricVariation,
          geometricModifiers: [ Badge__YDF.GeometricModifiers.pillShape ]
        })
