include CallableExpressionScheme.class.pug


mixin CallableExpressionScheme--YDF_DK(properties)

  -
    const {
      technicalName,
      headingTag = "div",
      localizedDescriptiveHeading,
      genericParameters,
      parametersSpecification = [],
      returnedValue,
      signatures
    } = properties


  mixin GenericParametersFlow(genericParameters)

    -
      genericParameters = genericParameters ?? [];
      const genericParametersCount = genericParameters.length;

    if genericParametersCount === 1

      - const genericParameter = genericParameters[0];

      span.CallableExpressionScheme--YDF_DK-Bracket= "<"

      if isString(genericParameter)

        span.CallableExpressionScheme--YDF_DK-GenericParameter-Name= genericParameter

      else

        span.CallableExpressionScheme--YDF_DK-GenericParameter-Name= genericParameter.name
        span.CallableExpressionScheme--YDF_DK-GenericParameter-ExtendingNotation ➝
        span.CallableExpressionScheme--YDF_DK-GenericParameter-Name= genericParameter.extends

      span.CallableExpressionScheme--YDF_DK-Bracket= ">"

    else if genericParametersCount > 1

      span.CallableExpressionScheme--YDF_DK-Bracket.CallableExpressionScheme--YDF_DK-Bracket__OneLine= "<"

      each genericParameter, index in genericParameters

        if isString(genericParameter)

          span.CallableExpressionScheme--YDF_DK-GenericParameter-Name= genericParameter

        else

          span.CallableExpressionScheme--YDF_DK-GenericParameter-Name= genericParameter.name
          span.CallableExpressionScheme--YDF_DK-GenericParameter-ExtendingNotation ➝
          span.CallableExpressionScheme--YDF_DK-GenericParameter-Name= genericParameter.extends

        if index < genericParametersCount - 1

          span.CallableExpressionScheme--YDF_DK-GenericParameter-Comma ,

      span.CallableExpressionScheme--YDF_DK-Bracket= ">"


  figure.CallableExpressionScheme--YDF_DK&attributes(attributes)

    #{headingTag}.CallableExpressionScheme--YDF_DK-TechnicalNameHeading= `${ technicalName }`

    if localizedDescriptiveHeading

      .CallableExpressionScheme--YDF_DK-LocalizedDescriptiveHeading= localizedDescriptiveHeading


    if isNonEmptyArray(signatures)

      .CallableExpressionScheme--YDF_DK-SignaturesFlow

        each signature, index in signatures

          -
            const overloadNumberLabel = CallableExpressionScheme__YDF_DK.localization.buildOverloadNumberLabel({
              overloadNumber: index + 1
            });

          .CallableExpressionScheme--YDF_DK-Signature

            .CallableExpressionScheme--YDF_DK-Signature-Heading=overloadNumberLabel
            .CallableExpressionScheme--YDF_DK-Signature-LocalizedDescriptiveHeading= signature.localizedDescriptiveHeading

            +GenericParametersFlow(signature.genericParameters)

            .CallableExpressionScheme--YDF_DK-ParametersAndReturnedValuesGroup

              span.CallableExpressionScheme--YDF_DK-OpeningCurlyBracket (

              if isNonEmptyArray(signature.parametersSpecification)

                .CallableExpressionScheme--YDF_DK-ParametersFlow

                  each parameterSpecification, index in signature.parametersSpecification

                    - parameterSpecification.number = index + 1

                    +ParameterMetadata--YDF_DK(parameterSpecification)

              span.CallableExpressionScheme--YDF_DK-ClosingBracket ):
              span.CallableExpressionScheme--YDF_DK-ReturnedValue
                if signature.returnedValue
                  | #{signature.returnedValue}
                else
                  | void


    else

      .CallableExpressionScheme--YDF_DK-ParametersAndReturnedValuesGroup

        +GenericParametersFlow(genericParameters)

        span.CallableExpressionScheme--YDF_DK-Bracket (

        if isNonEmptyArray(parametersSpecification)

          .CallableExpressionScheme--YDF_DK-ParametersFlow

            each parameterSpecification, index in parametersSpecification

              - parameterSpecification.number = index + 1

              +ParameterMetadata--YDF_DK(parameterSpecification)

        span.CallableExpressionScheme--YDF_DK-ClosingBracket ):
        span.CallableExpressionScheme--YDF_DK-ReturnedValue
          if returnedValue
            | #{returnedValue}
          else
            | void


    if block

      .CallableExpressionScheme--YDF_DK-AppendixGridFlow
        block
