include CallableExpressionScheme.class.pug


mixin CallableExpressionScheme(properties)

  -
    const {
      technicalName,
      headingTag = "div",
      localizedDescriptiveHeading,
      parametersSpecification = [],
      returnedValue,
      signatures
    } = properties


  figure.CallableExpressionScheme&attributes(attributes)

    #{headingTag}.CallableExpressionScheme-TechnicalNameHeading= `${ technicalName }`

    if localizedDescriptiveHeading

      .CallableExpressionScheme-LocalizedDescriptiveHeading= localizedDescriptiveHeading


    if isNonEmptyArray(signatures)

      .CallableExpressionScheme-SignaturesFlow

        each signature, index in signatures

          .CallableExpressionScheme-Signature

            .CallableExpressionScheme-Signature-Heading= `Перегрузка №${ index + 1 }`
            .CallableExpressionScheme-Signature-LocalizedDescriptiveHeading= signature.localizedDescriptiveHeading

            .CallableExpressionScheme-ParametersAndReturnedValuesGroup

              span.CallableExpressionScheme-OpeningCurlyBracket (

              if isNonEmptyArray(signature.parametersSpecification)

                .CallableExpressionScheme-ParametersFlow

                  each parameterSpecification, index in signature.parametersSpecification

                    - parameterSpecification.number = index + 1

                    +ParameterMetadata--YDF(parameterSpecification)

              span.CallableExpressionScheme-ClosingBracket ):
              span.CallableExpressionScheme-ReturnedValue
                if signature.returnedValue
                  | #{signature.returnedValue}
                else
                  | void


    else

      .CallableExpressionScheme-ParametersAndReturnedValuesGroup

        span.CallableExpressionScheme-OpeningCurlyBracket (

        if isNonEmptyArray(parametersSpecification)

          .CallableExpressionScheme-ParametersFlow

            each parameterSpecification, index in parametersSpecification

              - parameterSpecification.number = index + 1

              +ParameterMetadata--YDF(parameterSpecification)

        span.CallableExpressionScheme-ClosingBracket ):
        span.CallableExpressionScheme-ReturnedValue
          if returnedValue
            | #{returnedValue}
          else
            | void
