-

  generatePageTableOfContents = localizedStrings => {

    const PAGE_URI = localizedRouting.coreLibrary.$children.
        styles.$children.
        kernel.$children.
        functions.$children.
        strings.$children.
        buildString.$URI;

    const pageTableOfContents = {

      interpolationMethodsComparison: {

        $heading: localizedStrings.interpolationMethodsComparison.$heading,
        $anchor: "INTERPOLATION_METHODS_COMPARISON--SECTION",
        get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; },

        $children: {

          concatenation: {
            $heading: localizedStrings.interpolationMethodsComparison.concatenation.$heading,
            $anchor: "INTERPOLATION_METHODS_COMPARISON-CONCATENATION--SECTION",
            get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
          },

          sprintf: {
            $heading: localizedStrings.interpolationMethodsComparison.sprintf.$heading,
            $anchor: "INTERPOLATION_METHODS_COMPARISON-SPRINTF--SECTION",
            get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
          },

          buildString: {
            $heading: localizedStrings.interpolationMethodsComparison.buildString.$heading,
            $anchor: "INTERPOLATION_METHODS_COMPARISON-BUILD_STRING--SECTION",
            get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
          }

        }

      }

    };

    return pageTableOfContents;

  }
