mixin SingleImageViewer--YDF(properties)

  -
    const {
      aspectRatio,
      imageURI,
      imageAlternateText
    } = properties;

    let backgroundUnderlayStyles;

    const sizingAndDefaultBackgroundProvidingContainerStyles = {
      ...Array.isArray(aspectRatio) ?  { "aspect-ratio": `${ aspectRatio[0] } / ${ aspectRatio[1] }` }  : null
    };


  figure.SingleImageViewer--YDF&attributes(attributes)

    picture.SingleImageViewer--YDF-SizingAndDefaultBackgroundProvidingContainer(
      style=sizingAndDefaultBackgroundProvidingContainerStyles
    )
      img.SingleImageViewer--YDF-Image(
        src= imageURI
        alt= imageAlternateText
      )

    if block
      figcaption.SingleImageViewer--YDF-Caption
        block

    .SingleImageViewer--YDF-OperationingGuidance 拡大するには画像にクリック・タップして下さい
