include TextBox.class.pug


mixin TextBox--YDF(properties, statesSimulations)

  -

    const COMPONENT_ID = TextBox__YDF.generateComponentID();

    const {

      HTML_Type = TextBox__YDF.HTML_Types.text,

      label,
      accessibilityGuidance,
      externalLabelHTML_ID,
      guidance,
      placeholder,
      autocomplete,

      value = "",

      multiline = false,
      disabled = false,
      readonly = false,

      required = false,
      mustDisplayAppropriateBadgeIfInputIsRequired = false,
      mustDisplayAppropriateBadgeIfInputIsOptional = false,
      mustAddInvisibleBadgeForHeightEqualizingWhenNoBadge = false,
      minimalCharactersCount,
      maximalCharactersCount,
      minimalNumericValue,
      maximalNumericValue,

      inputOrTextAreaElementHTML_ID = `${ COMPONENT_ID }-INPUT_OR_TEXT_AREA`,
      labelElementHTML_ID = `${ COMPONENT_ID }-LABEL`,

      theme = TextBox__YDF.Themes.regular,
      areThemesExternal = TextBox__YDF.areThemesExternal,
      geometry = TextBox__YDF.GeometricVariations.regular,
      decoration = TextBox__YDF.GeometricVariations.regular,

    } = PugMixinsObjectTypeParametersProcessor.processParameter({
      rawParameter: properties,
      parameterNumber: 1,
      parameterName: "properties",
      parameterPropertiesSpecification: TextBox__YDF.propertiesSpecification,
      mixinName: TextBox__YDF.CSS_NAMESPACE
    });

    const {
      invalidInputHighlightingIfAnyValidationErrorsMessages = false,
      validValueHighlightingIfNoValidationErrorsMessages = false,
      validationErrorsMessages = false,
      asynchronousValidationsStatuses = false
    } = PugMixinsObjectTypeParametersProcessor.processParameter({
      rawParameter: statesSimulations,
      parameterNumber: 2,
      parameterName: "statesSimulations",
      parameterPropertiesSpecification: TextBox__YDF.statesSimulationsSpecification,
      mixinName: TextBox__YDF.CSS_NAMESPACE
    });

    const rootElementModifierCSS_Classes = [

      ...multiline ? [ `${ TextBox__YDF.CSS_NAMESPACE }__Multiline` ] : [],

      ...disabled ? [ `${ TextBox__YDF.CSS_NAMESPACE }__DisabledState` ] : [],

      ...invalidInputHighlightingIfAnyValidationErrorsMessages && validationErrorsMessages.length > 0 ?
          [ `${ TextBox__YDF.CSS_NAMESPACE }__InvalidValueState` ] : [],
      ...validValueHighlightingIfNoValidationErrorsMessages && validationErrorsMessages.length === 0 ?
          [ `${ TextBox__YDF.CSS_NAMESPACE }__ValueState` ] : [],

      ...ComponentsAuxiliaries.addThemeCSS_ClassToArrayIfMust({
        theme,
        allThemes: TextBox__YDF.Themes,
        CSS_Namespace: TextBox__YDF.CSS_NAMESPACE,
        areThemesCSS_ClassesCommon
      }),

      ...ComponentsAuxiliaries.addGeometricVariationCSS_ClassToArrayIfMust({
        geometry,
        allGeometricVariations: TextBox__YDF.GeometricVariations,
        CSS_Namespace: TextBox__YDF.CSS_NAMESPACE
      }),

      ...ComponentsAuxiliaries.addDecorativeVariationCSS_ClassToArrayIfMust({
        decoration,
        allDecorativeVariations: TextBox__YDF.DecorativeVariations,
        CSS_Namespace: TextBox__YDF.CSS_NAMESPACE
      })

    ];


  +CompoundControlShell--YDF(
    {

      label,
      guidance,

      required,
      mustDisplayAppropriateBadgeIfInputIsRequired,
      mustDisplayAppropriateBadgeIfInputIsOptional,
      mustAddInvisibleBadgeForHeightEqualizingWhenNoBadge,
      coreElementHTML_ID: inputOrTextAreaElementHTML_ID,
      labelElementHTML_ID: labelElementHTML_ID,

      theme: TextBox__YDF.selfAndCompoundControlShellThemesCorrespondence[theme],
      areThemesExternal,
      geometry: TextBox__YDF.selfAndCompoundControlShellGeometricVariationsCorrespondence[geometry],
      decoration: TextBox__YDF.selfAndCompoundControlShellGeometricVariationsCorrespondence[decoration]

    },
    {
      validationErrorsMessages,
      asynchronousValidationsStatuses
    }
  ).TextBox--YDF&attributes(attributes)(class=rootElementModifierCSS_Classes)

    if multiline

      textarea.TextBox--YDF-InputOrTextAreaElement(
        placeholder=placeholder
        autocomplete=autocomplete
        readonly=readonly
        disabled=disabled
        required=required
        minlength=minimalCharactersCount
        maxlength=maximalCharactersCount
        id=inputOrTextAreaElementHTML_ID
        aria-label=accessibilityGuidance
        aria-labelledby=externalLabelHTML_ID
      )= value

    else

      input.TextBox--YDF-InputOrTextAreaElement(
        type=HTML_Type
        value=value
        placeholder=placeholder
        autocomplete=autocomplete
        readonly=readonly
        disabled=disabled
        required=required
        minlength=minimalCharactersCount
        maxlength=maximalCharactersCount
        min=minimalNumericValue
        max=maximalNumericValue
        id=inputOrTextAreaElementHTML_ID
        aria-label=accessibilityGuidance
        aria-labelledby=externalLabelHTML_ID
      )
