include CompactTableOfContents.class.pug


mixin CompactTableOfContents--YDF_DK(localizedRouting, options, iterationData)

  if localizedRouting

    -
      options = options ?? {};
      iterationData = iterationData ?? {
        currentDepthLevel__numerationFrom0: -1,
        currentRouteSegments: []
      }

    ul.CompactTableOfContents--YDF_DK&attributes(attributes)

      each metadata, key in localizedRouting

        -
          iterationData.currentDepthLevel__numerationFrom0++;
          iterationData.currentRouteSegments[iterationData.currentDepthLevel__numerationFrom0] = key;
          const route = iterationData.currentRouteSegments.join(".");


        li.CompactTableOfContents--YDF_DK-Item

          if metadata.$children

            button.CompactTableOfContents--YDF_DK-Item-CollapsingToggle(
              type="button"
              aria-label="Collapse"
            ): +Triangle__Upward__Circled__Filled--YDF_Icon.CompactTableOfContents--YDF_DK-Item-CollapsingToggle-Icon

          if metadata.$URI


            -

              const linkModifierCSS_CLasses = route === RoutingEmulator.currentRoute ?
                  [ "CompactTableOfContents--YDF_DK-Item-Link__Current" ] : [];


            a.CompactTableOfContents--YDF_DK-Item-Link(
              href=metadata.$URI
              class=linkModifierCSS_CLasses
            )= metadata.$tableOfContentsTitle

          else

            span.CompactTableOfContents--YDF_DK-Item-Title= metadata.$tableOfContentsTitle

          if metadata.$children

            +CompactTableOfContents--YDF_DK(metadata.$children, options, iterationData)

        -
          iterationData.currentDepthLevel__numerationFrom0--;
          iterationData.currentRouteSegments.splice(-1, 1);
