extends RegularWebPage.pug


block append Functionality

  -

    const StaticPreviewAnywherePage = {

      PageDevelopmentProgressStatuses: {

        implementationWaiting: "IMPLEMENTATION_WAITING",
        implementationInProgress: "IMPLEMENTATION_IN_PROGRESS",

        improvementWaiting: "IMPROVEMENT_WAITING",
        improvementInProgress: "IMPROVEMENT_IN_PROGRESS",

        fixingWaiting: "FIXING_WAITING",
        fixingInProgress: "FIXING_IN_PROGRESS",

        specificationClarification: "SPECIFICATION_CLARIFICATION",

        reviewWaiting: "REVIEW_WAITING",
        customerEvaluationWaiting: "CUSTOMER_EVALUATION_WAITING",

        accepted: "ACCEPTED"
      },

      getPageLinkSpecificCSS_Class: pageDevelopmentProgressStatus => {

        switch (pageDevelopmentProgressStatus) {

          case StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationWaiting:
            return "AnywherePage-PageLink__ImplementationWaiting";
          case StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress:
            return "AnywherePage-PageLink__ImplementationInProgress";

          case StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.improvementWaiting:
            return "AnywherePage-PageLink__ImprovementWaiting";
          case StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.improvementInProgress:
            return "AnywherePage-PageLink__ImprovementInProgress";

          case StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.fixingWaiting:
            return "AnywherePage-PageLink__FixingWaiting";
          case StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.fixingInProgress:
            return "AnywherePage-PageLink__FixingInProgress";

          case StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.specificationClarification:
            return "AnywherePage-PageLink__SpecificationClarification";
          case StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.reviewWaiting:
            return "AnywherePage-PageLink__ReviewWaiting";
          case StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.customerEvaluationWaiting:
            return "AnywherePage-PageLink__CustomerEvaluationWaiting";
          case StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.accepted:
            return "AnywherePage-PageLink__Accepted";
        }
      },

      localization: null,
      setLocalization(newLocalization) {
        this.localization = newLocalization;
      }
    }


  include StaticPreviewAnywherePage/StaticPreviewAnywherePageLocalization.English.pug

  - StaticPreviewAnywherePage.setLocalization(StaticPreviewAnywherePageLocalization__English);


  //- --- Single page link ---------------------------------------------------------------------------------------------
  mixin PageLink(parametersObject)

    a.AnywherePage-PageLink(
      href= parametersObject.URI
      class= StaticPreviewAnywherePage.getPageLinkSpecificCSS_Class(parametersObject.progressStatus)
    )
      .AnywherePage-PageLink-ProgressBadge
        | #{StaticPreviewAnywherePage.localization.progressStatusBadgesText[parametersObject.progressStatus]}
      .AnywherePage-PageLink-Text= parametersObject.label


  mixin PageLinksGroup(parametersObject)

    .AnywherePage-SinglePageRelatedLinksGroup(
      class= StaticPreviewAnywherePage.getPageLinkSpecificCSS_Class(parametersObject.progressStatus)
    )

      .AnywherePage-SinglePageRelatedLinksGroup-ProgressBadge
        | #{StaticPreviewAnywherePage.localization.progressStatusBadgesText[parametersObject.progressStatus]}

      .AnywherePage-SinglePageRelatedLinksGroup-MainSection
        .AnywherePage-SinglePageRelatedLinksGroup-Heading= parametersObject.title
        each linkData in parametersObject.linksData
          a.AnywherePage-SinglePageRelatedLinksGroup-Link(href= linkData.URI)= linkData.label


block append StylesLinks

  style

    include StaticPreviewAnywherePage/StaticPreviewAnywherePage.css


block append PageContent

  .AnywherePage

    block TableOfContents
