include ${COMPONENT_NAME}Gallery.class.pug


mixin ${COMPONENT_NAME}Gallery

  -

    ThemesShowcase__YDF.
        setDefaultThemeKeyLabelPrefix("${COMPONENT_NAME}__YDF.Themes.").
        setDefaultGeometricVariationLabelPrefix("${COMPONENT_NAME}__YDF.GeometricVariations.").
        setDefaultDecorativeVariationLabelPrefix("${COMPONENT_NAME}__YDF.DecorativeVariations.");

    const themeShowcaseCurrentIterationData = ThemesShowcase__YDF.initializeCurrentIterationData()


  h1.Heading1(
    class=(${COMPONENT_NAME}GalleryOptions.mustVisuallyHideTopHeading ? "YDF_Gallery-InvisibleHeading" : [])
  ) ${COMPONENT_NAME} Component Demos


  //- ━━━ Minimal ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  if ${COMPONENT_NAME}GalleryOptions.partialsRenderingFlags[${COMPONENT_NAME}GalleryOptions.Partials.minimal]

    h2.Heading2(
      class=(${COMPONENT_NAME}GalleryOptions.mustVisuallyHideAllHeadings ? "YDF_Gallery-InvisibleHeading" : [])
    ) Minimal

    +ThemesShowcase--YDF({
      themes: ${COMPONENT_NAME}__YDF.Themes,
      geometricVariations: ${COMPONENT_NAME}__YDF.GeometricVariations,
      decorativeVariations: ${COMPONENT_NAME}__YDF.DecorativeVariations,
      iterationData: themeShowcaseCurrentIterationData
    })
      +${COMPONENT_NAME}--YDF({
        theme: themeShowcaseCurrentIterationData.theme.value,
        geometricVariation: themeShowcaseCurrentIterationData.geometricVariation.value,
        decorativeVariation: themeShowcaseCurrentIterationData.decorativeVariation.value
      }).${COMPONENT_NAME}Gallery-${COMPONENT_NAME}
