-

  const MetaDescriptionTemplates = {

    pugFunction: ({ functionName, whatFunctionDoes }) =>
        `The function "${ functionName }" of "Yamato Daiwa Frontend" ` +
          `(abbreviation: "YDF") library for the Pug pre-processor ${ whatFunctionDoes }`,

    stylusFunction: ({ functionName, whatFunctionDoes }) =>
        `The function "${ functionName }" of "Yamato Daiwa Frontend" ` +
          `(abbreviation: "YDF") library for the Stylus pre-processor ${ whatFunctionDoes }`,

    realiseNotes: ({ version }) =>
        "The changes log (new functionality, changing of the existing functionality and removing of the previous one) of " +
          `the version ${ version } of the library "Yamato Daiwa Frontend" (abbreviation: "YDF") for ` +
          "the frontend web development.",

    components: {


    }

  };
