-

  const MetaDescriptionTemplates = {

    pugFunction: ({ functionName, whatFunctionDoes }) =>
        `The function "${ functionName }" of "Yamato Daiwa Frontend" ` +
          `(abbreviation: "YDF") library for the Pug pre-processor ${ whatFunctionDoes }`,

    stylusFunction: ({ functionName, whatFunctionDoes }) =>
        `The function "${ functionName }" of "Yamato Daiwa Frontend" ` +
          `(abbreviation: "YDF") library for the Stylus pre-processor ${ whatFunctionDoes }`,

    realiseNotes: ({ version }) =>
        "The changes log (new functionality, changing of the existing functionality and removing of the previous one) of " +
          `the version ${ version } of the library "Yamato Daiwa Frontend" (abbreviation: "YDF") for ` +
          "the frontend web development.",

    GUI_Components: {

      AdmonitionBlock:
          "The component \"AdmonitionBlock\" of \"Yamato Daiwa Frontend\" library (abbreviation: \"YDF\") constitutes " +
            "the framed text and sometimes additional content. " +
          "In Graphic User Interfaces, it is one of tools for the notifying of the users with possibility to suggest " +
            "the reaction to uses by the buttons. " +
          "In the typography, this component is being used for the highlighting of the text block of various levels of " +
            "importance",


    }

  };
